
:root {
	--primary-color: #ffb218;
	--accent-dark-color: #f6b243;				/* nav (bordered button, dot), link */
	--header-color: #727272;
	--main-text-color: #666;
	--lighter-text-color: #888;
	--background-section-color: #fffcf6;
	--tag-color: #ffefd1;
	--footer-background-color: #58595b;
	--footer-column-header: #adadad;
	--footer-text: #e4e4e4;
	--footer-link: #bbb;
	--nav-caption: #b0b0b0;
	--divider-color: #e0e0e0;
	--button-shadow-color: rgba(254,178,25,0.6);

	/*
		bordered button: #f6b243
		link on shaded BG: #f6b243

		Menu-dot: #f6b243
		Dot Box:
			BG: #ffefd1	(tag color)
			Dot: #ffb218

		dark carousel pagination dot: primary
			light pagination dot: #f7e8c8
		Carousel border & next/prev arrowhead circles: #fcb72c
	*/

	/* Extended Palette - Use with care */
	--primary-dark-20-color: #DF9500;
	--primary-dark-40-color: #A77000;
	--primary-dark-60-color: #704A00;

	--primary-light-20-color: #FFC146;
	--primary-light-40-color: #FFD174;
	--primary-light-60-color: #FFE0A3;
}

html {
	scroll-behavior: smooth;
}

main, html, body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  line-height: 1.42857143;
}

/* body {
	animation: fadein 500ms ease;
	animation-fill-mode: forwards;
} */

/* @keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
} */



section.block, nav.topnav, footer {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

section.block {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 576px) {
	section.block, nav.topnav, footer {
		padding-left: 10%;
		padding-right: 10%;
	}

	section.block {
		padding-top: 3%;
		padding-bottom: 3%;
	}

	main {
		padding-top: 1%;
	}
}

@media (min-width: 1300px) {
	section.block, nav.topnav, footer {
		padding-left: calc( (100% - 1100px) / 2 );
		padding-right: calc( (100% - 1100px) / 2 );
	}
}




/* For compatibility with PureCSS.io */
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}


[disabled] {
	pointer-events: none;
	opacity: 0.5;
}

b, strong {
    font-weight: 700;
}

aside {
  position: absolute;
  right: 50px;
  padding: 0;
  top: 20px;
}


img {
  max-width: 100%;
}


h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 1.4;
}

/* h2 {
  font-size: 16px;
  font-weight: bold;
} */

h5 {
	font-size: 16px;
}

p {
	font-size: 18px;
	font-weight: 400;
}

a {
	transition-duration: 0.4s;
	text-decoration: none;
	color: var(--main-text-color);
}

a.icolink {		/* A short link with an icon inside */
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	fill: currentColor;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: var(--primary-color);
}

a.icolink:hover {
	color: var(--primary-color);
}

a[disabled] {
	text-decoration: none !important;
	color: var(--lighter-text-color);
}

a.nostyle, a.nostyle:hover {
	text-decoration: none;
	color: inherit;
}

.bold {
	font-weight: bold;
}

.txt-center {
	text-align: center;
}

.txt-thin {
	font-weight: 300;
}

.lh-high {
	line-height: 1.67;
}

/* For full-width centered paragraphs, limit the width */
p.p-fw {
	max-width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


/* Color utility classes --- */

.bg-shaded {
	background-color: var(--background-section-color);
}

.bg-primary {
	background-color: var(--primary-color);
}

.text-primary {
	color: var(--primary-color);
}





/* =============== COMMON UI COMPONENTS ================= */


.h2-border {
	width: 50px;
	height: 5px;
	background-color: var(--primary-color);
	display: inline-block;
	border-radius: 2.5px;
	margin-bottom: 5px;
}


.button {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	width: fit-content;
	white-space: nowrap;
	padding: 12px 25px;
	margin: 0.3em;
	background: var(--primary-color) !important;
	color: white !important;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	line-height: 1.43;
	transition: all 0.3s ease-out;
	will-change: translate;
}

.button:not(.outline):hover {
	box-shadow: 0px 15px 20px var(--button-shadow-color);
    transform: translateY(-7px);
}

.button.outline {
	padding: 10px 25px;
	background: none !important;
	border: 2px solid var(--accent-dark-color);
	border-radius: 10px;
    color: var(--accent-dark-color) !important;
}

.button.outline:hover {
	background-color: var(--accent-dark-color) !important;
	color: white !important;
	transform: none;
	box-shadow: none;
}


/*
	A Tag of text with a colored dot on the left.
	Use the "dotTag" Nunjucks shortcode in your templates to add a tag.
*/
.dottagbox {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
}

.dottagbox::before {
	content: '';
	width: 0.6em;
	min-width: 0.6em;
	height: 0.6em;
	margin-right: 0.5em;
	border-radius: 50%;
	background: var(--primary-color);
}

.dottagbox.filled {
	font-size: 0.9em;
	padding: 0 0.7em 0 0.6em;
	margin: 2px 3px;
	height: 1.8em;
	border-radius: 0.9em;
	background: var(--tag-color);
	color: var(--main-text-color);
}
.dottagbox.hash::before {
	content: '#';
	width: auto;
	min-width: auto;
	height: auto;
	margin-right: 2px;
	border-radius: 0;
	background: transparent;
	color: var(--primary-color);
	font-weight: 700;
}


.svgico {
	display: inline-block;
	vertical-align: middle;
	width: 1.2em;
	height: 1.2em;
	fill: currentColor;
}


/* Common styling for Tables: */

table {
	border-collapse: collapse;
}

th {
	background: var(--footer-background-color);
	color: var(--footer-text);
	border: 1px solid var(--footer-column-header);
	font-size: 0.9em;
	font-weight: 700;
	padding: 0.5em;
	vertical-align:middle;
}

td {
	padding: 0.4em;
	vertical-align: middle;
	border: 1px solid var(--footer-column-header);
}

tr:nth-child(even) td {
	background: var(--background-section-color);
}


/* Slim <ul> lists: colored dots & negetive left-margin */

ul.slim_ul, .slim_ul ul {
	list-style-type: none;
	padding-left: 0;
}

ul.slim_ul > li, .slim_ul ul > li {
	position: relative;
	line-height: 1.5;
}

ul.slim_ul > li::before, .slim_ul ul > li::before {
	content: "";
	position: absolute;
	left: -1em;
	top: 10px;
	left: -1.1em;
	top: 0.4em;
	width: 0.6em;
	height: 0.6em;
	background: var(--primary-color);
	border-radius: 50%;
}



/* ========== Zoho SalesIQ Chat-bubble Styling =========== */

.zsiq_floatmain #zsiq_float .zsiq_flt_rel {
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
				0 1px 18px 0 rgba(0, 0, 0, 0.12),
				0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.zsiq_floatmain:hover #zsiq_float .zsiq_flt_rel {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
				0  6px 30px 5px rgba(0, 0, 0, 0.12),
				0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

@media (max-width: 699px) {
	/* Hide Chatbot floating msg on small screen */
	.zsiq_floatmain #titlediv {
		display: none;
	}
}




/* ============= SECTIONS / COMPONENTS =================== */

.l-box {
	padding: 1em;
}

@media (min-width: 700px) {
	.l-box {
		padding: 2em;
	}
}


section.block .subtitle {
	font-size: 18px;
}

section.block h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.5em;
	margin: 0;
}

section.block h3 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.1;
	margin: 0;
}


@media (min-width: 700px) {

	section.block h2 {
		font-size: 38px;
	}

}


/* Index Page Top Hero Section */

.index-page-hero .main-header {
	font-size: 30px;
	max-width: 95%;
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.15;
}

.index-page-hero .bg-image {
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
	background-position: center;
}

@media (min-width: 700px) {

	.index-page-hero .main-header {
		font-size: 50px;
		max-width: 600px;
	}

	.index-page-hero .bg-image {
		height: 442px;
	}

}



/* Product Page (sub-pages) Hero Section */

.product_page_hero h1 {
	font-size: 30px;
}

.product_page_hero .subtitle > div {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
}

.product_page_hero .subtitle > img {
	margin-left: 10px;
	max-height: 50px;
}

@media (min-width: 700px) {

	.product_page_hero h1 {
		font-size: 40px;
	}

	.product_page_hero .descbox {
		padding-right: 30px;
	}

	.product_page_hero .subtitle > img {
		margin-left: 20px;
		max-height: 60px;
	}

}



/* alternating steps section */

.alternating-steps .step-box:not(:first-of-type) {
	margin-top: 60px;
}

.alternating-steps > *:nth-of-type(even) .step-image{
  order: 1;
}

.alternating-steps > *:nth-of-type(even) .step-text{
  order: 2;
}

@media screen and (max-width: 768px) {
  .alternating-steps > *:nth-of-type(odd) .step-image{
    order: 1;
  }

  .alternating-steps > *:nth-of-type(odd) .step-text{
    order: 2;
  }
}


@media (min-width: 700px) {
	.alternating-steps .step-box {
		margin: 0 !important;
	}
}


.short_ad p {
  text-align: left;
  font-weight: 500;
}
.short_ad h1 {
  text-align: left;
  font-weight: bold;
}

.short-ad img {
  max-width: 100%;
}



.step_section h3 {
  font-size: 24px;
  font-weight: 500;
}
.step_section p {
  color: var(--main-text-color);
  font-weight: 500;
}

.step_section .steps {
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
	grid-gap:15px;
}

.step_section .step {
  border: 1px solid  var(--main-text-color);
  border-radius: 15px;
  padding: 10%;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.step_section .step:hover{
  background-color: var(--background-section-color);
  border-color: var(--primary-color);
  opacity: 1;
}




.small_heros img {
	margin: 1em;
	max-height: 34px;
	max-width: 120px;
}


.dimmed-image {
  filter: grayscale(100%);
  opacity: 0.5;
  max-width: 100%;
  height: auto;
}

.dimmed-image:hover {
  filter: none;
  opacity: 1;
}


/* product_category_showcase section */

.prod-category-box {
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	padding: 0.5em;
	width: 100%;
	background: var(--background-section-color);
}

.prod-category-box img {
	max-width: 100%;
	max-height: 220px;
}


@media (min-width: 700px) {
	.prod-category-box {
		padding: 2em;
		width: 70%;
	}
	.prod-category-box img {
		max-width: 300px;
		max-height: 240px;
	}
}


.section-message .button {
	margin-left: 0;
}

@media (min-width: 700px) {
	.section-message > div {
		padding:0 10%;
	}

	.section-message img {

		padding: 0.9em 1em;
	}
}


/* ----- Mouse Scroll Animated Icon ----- */
.icon-scroll .mouse {
	height: 36px;
	width: 22px;
	border: 1px solid var(--header-color);
	border-radius: 11px;
}

.icon-scroll .mouse::before {
	content: '';
	display: block;
	height: 7px;
	width: 4px;
	margin-top: 8px;
	background: var(--header-color);
	animation: mouse-wheel 1.4s ease 30;
	animation-fill-mode: forwards;
	animation-delay: 6s;
	border-radius: 2px;
	opacity: 0;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(16px);
	}

	100% {
		opacity: 0;
		transform: none;
	}
}
/* -------------------------------------- */


.icon-list .iconsbox > div {
	padding: 20px;
	max-width: 280px;
}


@media (min-width: 700px) {
	.one-liner, .one-liner .tags-row {
		width: 70%;
	}
}



.documentation_link_banner div {
	border: 1px solid var(--primary-color);
	border-radius: 12px;
	padding: 20px 40px;
	background: white;
}

.documentation_link_banner h2 {
	display: inline;
	margin: 20px 0;
}


@media (min-width: 700px) {
	.documentation_link_banner h2 {
		margin: 0 20px;
	}
}


section.block.get_started_banner h2 {
	line-height: 1.5em;
	margin: 0;
}

section.block.get_started_banner .subtitle {
	font-size: 24px;
	line-height: 1.1;
	font-weight: bold;
}

section.block.get_started_banner .button {
	margin: 0 1em 0 0;
}



/* ====================== SECTION ACCORDION =================================== */
.accordion a {
  display: block;
  padding: 10px 15px;
}

.accordion .drop-down-menu {
  display: block;
  padding: 0.2em;
  width: 100%;
  border: solid 1px #d4d4d4;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left;
}


@media (min-width: 700px) {
	.accordion .drop-down-menu {
		width: 70%;
	}
}


.accordion .menu-title {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  /* color: var(--primary-color); */
}

.accordion p {
  font-size: 16px;
  padding: 10px 15px;
}

.accordion .activate {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

.accordion .drop-down {
  max-height: 0;
  overflow: hidden;
}

.accordion .activate:checked ~ .drop-down {
  max-height: 200px;
}

.accordion .activate:checked ~ .menu-title {
  color: var(--primary-color);
}

.accordion .drop-down, .drop-down-menu {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion-right-arrow {
  float: right;
  margin-right: 20%;
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
}




/* ============================= SECTION BULLET-LIST ============================ */

.bullet-list {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  background-color: white;
  padding: 20px 10px;
  text-align: left;
}

.bullet-list ul {
  list-style-type: disc;
  padding-inline-start: 18px;
}

.bullet-list li {
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  color: var(--header-color);
}

.bullet-list li::marker {
	color: var(--primary-color);
	font-size: 1.1em;
}



@media (min-width: 700px) {
	.bullet-list {
		width: 80%;
		max-width: 95%;
		padding: 60px 120px;
	}

	.bullet-list ul {
		padding-inline-start: 20px;
	}

	.bullet-list li {
		margin-bottom: 0.8em;
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: 1px;
	}
}



/* ================================= Zoho Form ====================================== */

.form-frame {
	width: 100%;
	height: 622px;
	border: none;
	background: var(--background-section-color);
}

.form-frame.retail {
	height: 420px;
}

.form-frame.grievance {
	height: 900px;
	background: none;
}

@media (min-width: 700px) {
	.form-frame {
		width: 600px;
	}
}

/* ================================= ThinkWP Custom CSS ====================================== */

.bg-shaded-1 {
	background-color: #FFB218;
}
.cstbox {
	background: #fff;
	margin:10px;
	padding: 40px 20px;
	border-radius:8px;
}
.cst-blackfnt {
	color: #333;
}
.cst-btn {
padding:12px 32px;
}

@media (max-width: 700px) {
	.m-imgbox {
		width: 210px;
	}
}

.step_section .step1 {
  border: 1px solid  var(--main-text-color);
  border-radius: 15px;
  padding: 10%;
  opacity: 1;
  transition: all 0.2s ease-out;
	background-color: var(--background-section-color);
	border-color: var(--primary-color);
}
.cst-small {
	font-size:15px;
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1150px) {
		#menu li a {
    padding: .8em 0.6em!important;
}
}

.ahov a {
    color: #ffb219;
}