@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890%21%22%23%24%25%26%27%2B%2C%2F%40%7C%7B%7D%5B%5D%3B%3C%3D%3E%3F.!-*()₹');

:root {
	--primary-color: #ffb218;
	--dot-color: #ffb218;
	--header-color: #727272;
	--main-text-color: #666;
	--background-section-color: #fffcf6;
	--tag-color: #ffefd1;
	--footer-background-color: #58595b;
	--footer-column-header: #adadad;
	--footer-text: #e4e4e4;
	--footer-link: #8e8e8e;
	--nav-caption: #b0b0b0;
}


main, html, body {
  letter-spacing: 1px;
  color: var(--main-text-color) !important;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857143;
}

/* For compatibility with PureCSS.io */
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

aside {
  position: absolute;
  right: 50px;
  padding: 0;
  top: 20px;
}


img {
  max-width: 100%;
}

button, select {
  text-transform: none;
}

button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


/* ============= SECTIONS / COMPONENTS =================== */

section, nav, footer {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 576px) {
	section, nav, footer {
		padding-left: 10%;
		padding-right: 10%;
	}

	section {
		padding-top: 3%;
		padding-bottom: 3%;
	}

	main {
		padding-top: 1%;
	}
}


.horizontal-spacer {
	padding-right: 20px;
}

/* TODO: Fix this. Normally used with <section> */
.background-section {
	width: 100%;
	background-color: var(--background-section-color);
	margin: 0;
}

.scroll-icon-container .scroll-icon {
border: 1px solid #727272;
border-radius: 18px;
}

.h2-border {
width: 50px;
height: 5px;
background-color: var(--primary-color);
display: inline-block;
border-radius: 2.5px;
margin-bottom: 5px;
}

h1 {
font-size: 40px;
font-weight: bold;
line-height: 1.4;
}

h5 {
font-size: 16px;
}

p {
font-size: 18px;
font-weight: 200;
}

a {
	transition-duration: 0.4s;
	text-decoration: none;
	color: var(--main-text-color);
	font-size: 16px;
}

a:hover {
	text-decoration: none;
	color: var(--primary-color);
}

.button {
	border-radius: 12px;
	transition-duration: 0.4s;
	background-color: var(--primary-color);
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
color: white !important;
}

.tag a {
font-size: 12px;
}

.dot-box {
border-radius: 30px;
background-color: var(--tag-color);
font-size: 14px;
padding: 5px 10px 5px;
max-width: 21%;
justify-content: center;
margin: 0 auto;
box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
}

.dot-box .dot {
border-radius: 25px;
font-weight: bold;
color: var(--main-text-color);
}

.dot-box .orange-dot {
padding: 3px;
margin-right: 0.4em;
height: 3px;
width: 3px;
background-color: var(--dot-color);
border-radius: 50%;
display: inline-block;
}

.bg-image {
background-image: url(https://eko.in/sites/default/files/2020-06/homepage-illustration_0.svg);
background-repeat: no-repeat;
background-size: contain;
height: 442px;
background-position: center;
}

.button-white {
border-radius: 12px;
transition-duration: 0.4s;
border: 1px solid var(--primary-color);
color: var(--primary-color);
padding: 10px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
font-weight: 600;
}


/* alternating steps*/
.alternating-steps > *:nth-of-type(even) .step-image{
  order: 1;
}

.alternating-steps > *:nth-of-type(even) .step-text{
  order: 2;
}

@media screen and (max-width: 768px) {
  .alternating-steps > *:nth-of-type(odd) .step-image{
    order: 1;
  }

  .alternating-steps > *:nth-of-type(odd) .step-text{
    order: 2;
  }
}


.short_ad p {
  text-align: left;
  font-weight: 500;
}
.short_ad h1 {
  text-align: left;
  font-weight: bold;
}

.short-ad img {
  max-width: 100%;
}

.h2 {
  font-weight: bolder;
  font-size: 16px;
}

.step_section h3 {
  font-size: 24px;
  color: var(--header-color);
  font-weight: 500;
}
.step_section p {
  color: var(--main-text-color);
  opacity: 1;
  font-weight: 500;
}

.boxed {
  max-width: 200px;
  display: block;
  border: 1px solid  var(--main-text-color);
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 20px;
  margin: 10px;
  opacity: 0.5;
}
.boxed:hover{
  background-color: var(--background-section-color);
  border: 2px solid var(--primary-color);
}

.boxed:hover .box-text,
.box-text:hover {
  color: var(--header-color);
  opacity: 1;
}

.boxed:hover .box-title,
.box-title:hover {
  color: var(--primary-color);
  opacity: 1;
}

.main-line {
  font-weight: bold;
}

.dimmed-image {
  filter: grayscale(100%);
  opacity: 0.5;
  max-width: 100%;
  height: auto;
}

.img-box {
  display: inline-block;
  padding: 17px 55px;
  width: 190px;
  height: 62px;
}

.dimmed-image:hover {
  filter: none;
  opacity: 1;
}


.main-header {
  font-size: 50px;
  width: 50%;
}



.orange-link {
  color: var(--primary-color) !important;
}

.l-box {
  padding: 2em;
}

@media only screen and (max-width: 700px) {
  .l-box {
      padding: 1em !important;
  }
  .main-header {
    font-size: 30px;
  }
}

.sm-box {
  padding: 0.5em;
}


/* ----- Mouse Scroll Animated Icon ----- */
.icon-scroll .mouse {
	height: 36px;
	width: 22px;
	border: 1px solid var(--header-color);
	border-radius: 11px;
}

.icon-scroll .mouse::before {
	content: '';
	display: block;
	height: 7px;
	width: 4px;
	margin-top: 8px;
	background: var(--header-color);
	animation: mouse-wheel 1.4s ease 30;
	animation-fill-mode: forwards;
	animation-delay: 6s;
	border-radius: 2px;
	opacity: 0;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(16px);
	}

	100% {
		opacity: 0;
		transform: none;
	}
}
/* -------------------------------------- */


.fa {
  padding: 20px;
  font-size: 15px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
}

.header {
  font-size: 30px;
}

.bi-arrow-right {
  color: var(--primary-color);
  font-weight: bold;
}

h6 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.three-box {
  padding: 5%;
}

.three-box p {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.box-link {
  color: dark-blue !important;
  font-size: 12px !important;
}



.one-liner {
  width: 70%;
}

.tags-row {
  width: 70%;
}

.round {
  border-radius: 25px;
}

.caption {
  font-size: 12px;
  font-weight: normal;
}

.partner-box {
  margin-bottom: 50px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.05);
}

.partner-box img {
  max-width: 80%;
}


.documentation_link_banner div {
	border: 1px solid var(--primary-color);
	border-radius: 12px;
	padding: 20px 40px;
	background: white;
}

.documentation_link_banner h2 {
	display: inline;
	margin: 20px 0;
}


@media (min-width: 700px) {
	.documentation_link_banner h2 {
		margin: 0 20px;
	}
}





/* ================================= EMBLA COROUSEL ============================ */
/* ----------- [TODO: Remove duplicate CSS between galary & embla] ------------ */

.embla {
position: relative;
padding: 20px;
max-width: 850px;
}

.embla__viewport {
overflow: hidden;
width: 100%;
align-items: center;
margin: auto;
border: solid 0.3px var(--primary-color);
}

.embla__viewport.is-draggable {
cursor: move;
cursor: grab;
}

.embla__viewport.is-dragging {
cursor: grabbing;
}

.embla__container {
display: flex;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-webkit-tap-highlight-color: transparent;
margin-left: -10px;
}

.embla__slide {
position: relative;
min-width: 100%;
padding-left: 10px;
}

.embla__slide__inner {
position: relative;
overflow: hidden;
padding: 30px;
margin-bottom: -15px;
background-color: var(--background-section-color);
background-size: cover;
text-align: left !important;
}

.embla__slide__inner h3 {
font-weight: bold;
}

.embla__slide__inner img {
max-width: 100%;
}

.embla__button {
outline: 0;
cursor: pointer;
background-color: transparent;
touch-action: manipulation;
position: absolute;
z-index: 1;
top: 50%;
transform: translateY(-50%);
border: 0;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
fill: var(--primary-color);
padding: 0;
}

.embla__button:disabled {
cursor: default;
opacity: 0.3;
}

.embla__button__svg {
width: 100%;
height: 100%;
}

.embla__button--prev {
left: 27px;
}

.embla__button--next {
right: 27px;
}

.gallery {
	border: none !important;
}

/* .gallery {
position: relative;
padding: 20px;
max-width: 850px;
} */

/* .gallery__viewport {
overflow: hidden;
width: 100%;
align-items: center;
margin: auto;
padding: 20px;
} */

/* .gallery__viewport.is-draggable {
cursor: move;
cursor: grab;
} */

/* .gallery__viewport.is-dragging {
cursor: grabbing;
} */

.gallery__container {
display: flex;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-webkit-tap-highlight-color: transparent;
margin-left: -10px;
}

.gallery__slide {
position: relative;
min-width: 100%;
padding-left: 10px;
}

.gallery__slide__inner p {
  color: var(--main-text-color);
}

.gallery__slide__inner h1 {
  font-weight: bold;
  padding-top: 10px;
  font-size: 15px;
  color: var(--header-color);
}

.gallery__slide__inner {
  position: relative;
  overflow: hidden;
  padding: 30px;
  margin-bottom: -15px;
  background-size: cover;
  text-align: left !important;
}

/* .gallery__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color);
  padding: 0;
} */

/* .gallery__button:disabled {
  cursor: default;
  opacity: 0.3;
  }

.gallery__button__svg {
  width: 100%;
  height: 100%;
}

.gallery__button--prev {
  left: 1px;
}

.gallery__button--next {
  right: 1px;
} */

/* ======================================================================================== */




/* ====================== SECTION ACCORDION =================================== */
.accordion a {
  display: block;
  padding: 10px 15px;
}

.accordion .drop-down-menu {
  display: block;
  padding: 0.2em;
  width: 70%;
  border: solid 1px #d4d4d4;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left;
}

.accordion .menu-title {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  /* color: var(--primary-color); */
}

.accordion p {
  font-size: 16px;
  padding: 10px 15px;
}

.accordion .activate {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

.accordion .drop-down {
  max-height: 0;
  overflow: hidden;
}

.accordion .activate:checked ~ .drop-down {
  max-height: 200px;
}

.accordion .activate:checked ~ .menu-title {
  color: var(--primary-color);
}

.accordion .drop-down, .drop-down-menu {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion-right-arrow {
  float: right;
  margin-right: 20%;
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
}




/* ============================= SECTION BULLET-LIST ============================ */

.bullet-list {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  background-color: white;
  padding: 20px 10px;
  text-align: left;
}

.bullet-list ul {
  list-style-type: disc;
  padding-inline-start: 18px;
}

.bullet-list li {
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  color: var(--header-color);
}

.bullet-list li::marker {
	color: var(--primary-color);
	font-size: 1.1em;
}



@media (min-width: 700px) {
	.bullet-list {
		width: 80%;
		max-width: 95%;
		padding: 60px 120px;
	}

	.bullet-list ul {
		padding-inline-start: 20px;
	}

	.bullet-list li {
		margin-bottom: 0.8em;
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: 1px;
	}
}



/* ================================= Zoho Form ====================================== */

.form-frame {
	width: 100%;
	height: 600px;
	border: none;
	background: var(--background-section-color);
}


@media (min-width: 700px) {
	.form-frame {
		width: 600px;
	}
}