
.dark {
    color: white;
    background-color: #000;
  }

  .dark a {
    color: white;
  }

  .dark a:hover {
    color: orange;
  }

  .dark .nav a {
    color: grey;
  }


  .dark .step:hover .box-text,
  .box-text:hover {
    color: white;
    opacity: 1;
  }

  .dark .nav .l-box-main a:hover {
    color: orange;
  }