section.block[type] {
	position: relative;
	outline:1px solid #666;
}
section.block[type]::before {
	content: "🧩 section_" attr(type) ".njk";
	position: absolute;
	top:0; left:0;
	font-family: monospace;
	font-size: 10px;
	font-weight: 700;
	background: #666;
	color: #fff;
	padding:2px 5px;
	letter-spacing: 1px;
}
