
footer {
  bottom: 0;
  width: 100%;
  background-color: var(--footer-background-color);
  color: var(--footer-text);
  padding-top: 70px;
  padding-bottom: 80px;
}

@media (min-width: 576px) {
	footer > div:not(:last-child) {
		padding-right: 15px;
	}
}

footer p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.67;
  margin: 0 0 10px;
}

footer .logo {
	height: 20px;
	margin: 10px 0;
}

footer .column-header {
  font-weight: bold;
  color: var(--footer-column-header);
  font-size: 15px;
}

footer a {
	text-decoration: none;
}

footer .linkbox a, footer .socialicons a {
  color: var(--footer-link);
}

footer .linkbox a {
	font-size: 15px;
	font-weight: bold;
	line-height: 2;
}

footer .socialicons a {
	font-size: 24px;
	margin-right: 0.5em;
}

footer .linkbox a:hover, footer .socialicons a:hover {
  color: var(--primary-color);
}
