/* ============== TOP RESPONSIVE NAVIGATION BAR ============ */

nav.topnav {
	border-bottom: 1px solid var(--divider-color);
}
.topnav{
	position: sticky;
	top: 0;
}
.scrolled {
	background: #f4f1ed;
	transition: all ease 200ms;
	z-index: 2;
}
.navsignupbox {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}
@media (max-width: 1180px) {
	.navsignupbox {
		flex-direction: column-reverse;
	}
}
.callUs{
	/* padding-right: 40px; */
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.callUs img{
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
/* nav.topnav .button {
	margin: 0 !important;
	padding: 10px 15px !important;
	position: absolute;
	right: 150px;
} */

#menu ul {
	margin: 0;
	padding: 0;

}

#menu .capt {
	font-size: 14px;
    font-weight: 500;
    color: #b0b0b0 !important;
}

#menu li.capt:not(:first-of-type) {
	margin-top: 12px;
}

#menu .main-menu {
	display: none;
	justify-content: center;
	margin-bottom: 10px;
}
#menu li{
	margin-top: 10px;
}
#tm:checked + .main-menu {
	display: block;
}

/* #menu ul span.drop-icon, */
#menu input[type="checkbox"] {
	display: none;
}

/* #menu li,
#toggle-menu,
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
} */

#menu li,
#toggle-menu {
	border-width: 0 0 1px;
}

#menu .sub-menu {
	margin: 0 1em;
}

#menu .sub-menu li:last-child {
	border-width: 0;
}

#menu a,
#menu li,
#toggle-menu {
	position: relative;
	display: block;
	/* color: white; */
}

#menu li label > * {
	cursor: pointer;
}

/* #menu,
#toggle-menu {
	background-color: #09c;
} */

/* #toggle-menu, */
#menu li a {
	padding: 0.8em 1.2em;
	font-size: 17px;
}

@media (max-width: 1100px) {
	#menu li a {
		padding: 0.7em 1em;
		font-size: 16px;
	}
}

#menu .sub-menu li a {
	padding: 0.5em 1.2em;
	font-size: 16px;
}

#menu a {
	transition: all .125s ease-in-out;
	-webkit-transition: all .125s ease-in-out;
}

/* #menu a:hover {
	background-color: white;
	color: #09c;
} */

#menu .sub-menu {
	display: none;
}


#menu input[type="checkbox"]:checked + .sub-menu {
	display: inline-flex;
}

/* #menu .sub-menu a:hover {
	color: #444;
} */

/* #toggle-menu .drop-icon, */
/* #menu li .drop-icon.mobile {
	position: absolute;
	right: 1.5em;
	top: 1.25em;
} */

/* #toggle-menu span.drop-icon, */
/* #menu .drop-icon.mobile {
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
	background-color: rgba(0, 0, 0, .125);
	text-shadow: 0 0 0 transparent;
	color: rgba(255, 255, 255, .75);
} */

#menu .drop-icon {
	line-height: 1;
}


#toggle-menu {
	width: 100%;
	height: 64px;
	padding: 0 20px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

#toggle-menu a.logolink {
	display: inline-block !important;
}

#toggle-menu svg {
	width: 24px;
	height: 24px;
}
#toggle-menu label > div {
	padding: 10px 0 10px 20px;
}

/* ============= SMALL SCREEN ONLY ============= */
@media (max-width: 800px) {

	nav.topnav {
		padding: 0 !important;
	}

	nav.topnav .desktoponly, #menu .sub-menu > div {
		display: none !important;
	}

	#menu ul.main-menu > li > a {
		font-weight: bold;
	}

	#menu li .drop-icon {
		position: absolute;
		right: 1em;
		top: 1.1em;

		border-radius: 50%;
		width: 1em;
		height: 1em;
		text-align: center;
		background-color: rgba(0, 0, 0, .125);
		text-shadow: 0 0 0 transparent;
		color: rgba(255, 255, 255, .75);
	}

	#menu ul.main-menu {
		border-top: 1px solid var(--divider-color);
	}

}


/* ============= LARGE SCREEN ONLY ============= */
@media (min-width: 800px) {

	.mobileonly {
		display: none !important;
	}

	nav.topnav {
		min-height: 74px;
		border-width: 0;
	}

	#menu {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}

	#menu .main-menu {
		display: block;
	}

	/* #menu .drop-icon.mobile, */
	#toggle-menu {
		display: none;
	}

	/* #menu ul span.drop-icon {
		display: inline-block;
	} */

	#menu li {
		float: left;
		border-width: 0 1px 0 0;
	}

	#menu .sub-menu {
		background: var(--background-section-color);
		color: var(--main-text-color);
		border: 1px solid var(--primary-color);
		border-radius: 8px;
		margin: 0;
		padding: 32px 10px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 3000;
		box-shadow: 0 25px 50px 0 rgba(0,0,0,0.1);
	}

	#menu .sub-menu li {
		float: none;
		border-width: 0 0 1px;
		min-width: 16em;
	}

	#menu .sub-menu li a {
		font-weight: bold;
		padding: 0.5em 0;
	}

	#menu .sub-menu > * {
		min-width: 10em;
		padding: 1em;
	}

	#menu .sub-menu-h1 {
		font-size: 24px;
		font-weight: bold;
		color: var(--primary-color);
		margin-bottom: 10px;
	}

	#menu .sub-menu .extra-links {
		width: 260px;
		min-width: 260px;
	}

	#menu .sub-menu,
	#menu input[type="checkbox"]:checked + .sub-menu {
		display: none;
	}

	#menu li:hover > input[type="checkbox"] + .sub-menu {
		display: inline-flex;
	}
}
