@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

@font-face {
  font-display: swap;
}

aside {
  position: absolute;
  right: 50px;
  padding: 0;
  top: 20px;
}


img {
  max-width: 100%;
}


*, *::before, *::after {
  box-sizing: border-box;
}

button, select {
  text-transform: none;
}

button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

main, html, body {
  letter-spacing: 1px;
  color: grey !important;
  font-family: Roboto, sans-serif;
  line-height: 1.42857143;
  font-display: swap;
}

@media (max-width: 1000px) {
  .img {
      max-width: 10%;
  }
}


/* ============= SECTIONS / COMPONENTS =================== */
section {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 8px 5px;
}

@media (min-width: 576px) {
	section {
		padding: 5% 10%;
	}
}


.horizontal-spacer {
padding-right: 20px;
}

/* TODO: Fix this. Normally used with <section> */
.background-section{
width: 100%;
background-color: rgb(255, 207, 158, 0.1);
padding-top: 100px !important;
padding-bottom: 100px;
margin: 0;
}

.scroll-icon-container .scroll-icon {
border: 1px solid #727272;
border-radius: 18px;
}

.h2-border {
width: 50px;
height: 5px;
background-color: #ffb218;
display: inline-block;
border-radius: 2.5px;
margin-bottom: 5px;
}

h1 {
font-size: 128px;
font-weight: bold;
}

h5 {
font-size: 16px;
}

p {
font-size: 18px;
font-weight: 200;
}

a {
	transition-duration: 0.4s;
	text-decoration: none;
	color: black;
	font-size: 16px;
}

a:hover {
	text-decoration: none;
	color: orange;
}

.button {
	border-radius: 12px;
	transition-duration: 0.4s;
	background-color: orange;
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
color: white !important;
}

.tag a {
font-size: 12px;
}
.orange-dot {
padding: 3px;
height: 3px;
width: 3px;
background-color: orange;
border-radius: 50%;
display: inline-block;
}
.dot-box {
border-radius: 30px;
background-color: #ffefd1;
font-size: 14px;
padding: 5px 10px 5px;
max-width: 21%;
justify-content: center;
margin: 0 auto;
box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
}

.dot {
border-radius: 25px;
font-weight: bold;
color: grey;
}

.bg-image {
background-image: url(https://eko.in/sites/default/files/2020-06/homepage-illustration_0.svg);
background-repeat: no-repeat;
background-size: contain;
height: 442px;
background-position: center;
}

.button-white {
border-radius: 12px;
transition-duration: 0.4s;
border: 1px solid orange;
color: orange;
padding: 10px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
font-weight: 600;
}


/* alternating steps*/
.alternating-steps > *:nth-of-type(even) .step-image{
  order: 1;
}

.alternating-steps > *:nth-of-type(even) .step-text{
  order: 2;
}

@media screen and (max-width: 768px) {
  .alternating-steps > *:nth-of-type(odd) .step-image{
    order: 1;
  }

  .alternating-steps > *:nth-of-type(odd) .step-text{
    order: 2;
  }
}


.short_ad p {
  text-align: left;
  font-weight: 500;
}
.short_ad h1 {
  text-align: left;
  font-weight: bold;
}

.short-ad img {
  max-width: 100%;
}

.h2 {
  font-weight: bolder;
  font-size: 16px;
}

.step_section h3 {
  font-size: 24px;
  color: grey;
  font-weight: 500;
}
.step_section p {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 500;
}

.boxed {
  max-width: 200px;
  display: block;
  border: 1px solid  #c7c7c7;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 20px;
  margin: 10px;
  opacity: 0.5;
}
.boxed:hover{
  background-color: rgba(	255, 191, 127, 0.1);
  border: 2px solid orange;
}

.boxed:hover .box-text,
.box-text:hover {
  color: black;
  opacity: 1;
}

.boxed:hover .box-title,
.box-title:hover {
  color: orange;
  opacity: 1;
}

.main-line {
  font-weight: bold;
}

.dimmed-image {
  filter: grayscale(100%);
  opacity: 0.5;
  max-width: 100%;
  height: auto;
}

.img-box {
  display: inline-block;
  padding: 17px 55px;
  width: 190px;
  height: 62px;
}

.dimmed-image:hover {
  filter: none;
  opacity: 1;
}

.big-header {
  font-size: 35px;
}

.main-header {
  font-size: 50px;
  width: 50%;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(96,96,96);
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 75px;
  padding-right: 30px;
  margin: 0;
}

footer p {
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
}

footer h2 {
  color: orange;
}

footer .column-header {
  font-weight: bold;
  color: lightgray;
}

footer a {
  color:  white;
  font-weight: bold;
}

footer a:hover {
  color: orange;
}

footer a {
  text-decoration: none;
}

.orange-link {
  color: orange !important;
}

.l-box {
  padding: 2em;
}

@media only screen and (max-width: 700px) {
  .l-box {
      padding: 1em !important;
  }
  .main-header {
    font-size: 30px;
  }
}

.sm-box {
  padding: 0.5em;
}

.icon-scroll .icon-scroll-container {
position: absolute;
top: 50%;
left: 50%;
  width: 1em;
height: 3.125em;
transform: translateX(-50%) scale(2);
z-index: 99999;
}

.icon-scroll span {
animation-delay: .2s;
}

.icon-scroll .mouse {
height: 2.5em;
width: 1.5em;
border: 1px solid #727272;
border-radius: 2em;
}

.icon-scroll .wheel {
position: relative;
display: block;
height: 0.5em;
width: 0.1875em;
margin: 1.5em auto 0;
background: #727272;
animation: mouse-wheel 1.2s ease infinite;
border-radius: 50%;
}

@keyframes mouse-wheel {
0% {
  opacity: 1;
  transform: translateY(0);
}

100% {
  opacity: 0;
  transform: translateY(-1em);
}
}

@keyframes mouse-scroll {
0%   { opacity: 0; }
50%  { opacity: .5; }
100% { opacity: 1; }
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
}

.header {
  font-size: 30px;
}

.bi-arrow-right {
  color: orange;
  font-weight: bold;
}

h6 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.three-box {
  padding: 90px;
}

.one-liner {
  width: 70%;
}

.tags-row {
  width: 70%;
}

.round {
  border-radius: 25px;
}

.caption {
  font-size: 12px;
  font-weight: normal;
}

.partner-box {
  margin-bottom: 50px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.05);
}

.partner-box img {
  max-width: 80%;
}



/* ================================= CSS Navigation =================================== */

nav > section {
	padding-top: 0;
	padding-bottom: 0;
}

nav h5 {
	margin-top: 0 !important;
	margin-bottom: 10px;
}


.nav,
.nav a,
.nav li,
.nav ul {
	border: none;
	margin: 0;
	padding: 0;
	text-align: left !important;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav .l-box {
  padding: 2em;
}

.nav a {
text-decoration: none;
color: grey;
}

.nav a:hover {
  color: orange;
}
.nav li {
list-style: none;
padding-bottom: 10px;
}

/* menu container */
.nav,
input {
font-size: 16px;
}
.nav {
cursor: default;
display: inline-block;
position: relative;
}

/* menu list */
.nav > li {
float: left;
}

/* menu links */
.nav > li > a {
color: gray;
display: block;
line-height: 2.5;
padding: 0 1.25em;
position: relative;
text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
transition: all .3s ease;
}

/* menu dropdown */
.mega-menu {
background-color: #FFF6E5;
border: 1px solid orange;
border-radius: 12px;
opacity: 0;
position: absolute;
transition: all .3s ease .15s;
visibility: hidden;
width: 750px;
z-index: 500;
}

.small {
  width: 400px !important;
}

@media only screen and (max-width: 600px) {
  .small {
      width: 50% !important;
  }
  .mega-menu {
      width: 80%;
  }
}

.capt {
  font-size: 10px;
  font-weight: 500;
  color: #b0b0b0 !important;
}

li:hover > .mega-menu {
opacity: 1;
overflow: visible;
visibility: visible;
}

/* menu content */
.nav-column a {
font-size: 16px;
font-weight: 700;
color: #727272;
padding: 0;
}

.nav-column a:hover {
  color: orange;
}

.nav h5 {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #ffb218 !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav p {
  font-size: 12px;
  font-weight: normal;
}

.nav-column .button-white {
  border-radius: 12px;
  transition-duration: 0.4s;
  border: 1px solid orange;
  color: orange;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
}

.nav-column .button-white:hover {
  background-color: orange;
  color:white;
}

.nav .button {
  color: white !important;
}

.nav-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav .l-box-main {
  padding-right: 1em;
}

.logo {
  height: auto;
  width: 70px;
}
.topnav .icon {
  display: none;
}

.topnav {
    padding-top: 10px;
}

@media screen and (max-width: 700px) {
  .topnav div:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
}





/* ================================ Blog Posts ========================================== */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
@media only screen and (min-width: 30em) {
  .band {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 60em) {
  .band {
      grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.band p {
  flex: 1;
  line-height: 1.4;
}

.band span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.band .thumb {
  padding-bottom: 60%;
  background-size: cover;
  height: auto;
}

.item a:hover p {
  color: black !important;
  text-decoration: none;
}

.item {
  padding: 20px;
}

.blog-button {
  width: 30%;
  color: white;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  background: #44ce6f;
  border: 0;
  padding: 12px 30px;
}

.active, .btn:hover {
  color: orange !important;
}

#links p {
  letter-spacing: 0;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left !important;
  display: flex;
  justify-content: center;
}

#links a:hover {
  background-color: rgba(136, 52, 52, 0.05);
  color: orange;
  padding: 2px;
  text-decoration: none;
}













/* ================================= EMBLA COROUSEL ============================ */
/* ----------- [TODO: Remove duplicate CSS between galary & embla] ------------ */

.embla {
position: relative;
padding: 20px;
max-width: 850px;
}

.embla__viewport {
overflow: hidden;
width: 100%;
align-items: center;
margin: auto;
border: solid 0.3px orange;
}

.embla__viewport.is-draggable {
cursor: move;
cursor: grab;
}

.embla__viewport.is-dragging {
cursor: grabbing;
}

.embla__container {
display: flex;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-webkit-tap-highlight-color: transparent;
margin-left: -10px;
}

.embla__slide {
position: relative;
min-width: 100%;
padding-left: 10px;
}

.embla__slide__inner {
position: relative;
overflow: hidden;
padding: 30px;
margin-bottom: -15px;
background-color: rgba(255, 191, 127, 0.05);
background-size: cover;
text-align: left !important;
}

.embla__slide__inner h3 {
font-weight: bold;
}

.embla__slide__inner img {
max-width: 100%;
}

.embla__button {
outline: 0;
cursor: pointer;
background-color: transparent;
touch-action: manipulation;
position: absolute;
z-index: 1;
top: 50%;
transform: translateY(-50%);
border: 0;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
fill: orange;
padding: 0;
}

.embla__button:disabled {
cursor: default;
opacity: 0.3;
}

.embla__button__svg {
width: 100%;
height: 100%;
}

.embla__button--prev {
left: 27px;
}

.embla__button--next {
right: 27px;
}

.gallery {
	border: none !important;
}

/* .gallery {
position: relative;
padding: 20px;
max-width: 850px;
} */

/* .gallery__viewport {
overflow: hidden;
width: 100%;
align-items: center;
margin: auto;
padding: 20px;
} */

/* .gallery__viewport.is-draggable {
cursor: move;
cursor: grab;
} */

/* .gallery__viewport.is-dragging {
cursor: grabbing;
} */

.gallery__container {
display: flex;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-webkit-tap-highlight-color: transparent;
margin-left: -10px;
}

.gallery__slide {
position: relative;
min-width: 100%;
padding-left: 10px;
}

.gallery__slide__inner p {
  color: grey;
}

.gallery__slide__inner h1 {
  font-weight: bold;
  padding-top: 10px;
  font-size: 15px;
  color: #727272;
}

.gallery__slide__inner {
  position: relative;
  overflow: hidden;
  padding: 30px;
  margin-bottom: -15px;
  background-size: cover;
  text-align: left !important;
}

/* .gallery__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: orange;
  padding: 0;
} */

/* .gallery__button:disabled {
  cursor: default;
  opacity: 0.3;
  }

.gallery__button__svg {
  width: 100%;
  height: 100%;
}

.gallery__button--prev {
  left: 1px;
}

.gallery__button--next {
  right: 1px;
} */

/* ======================================================================================== */

