#links a {
	padding: 2px 1em;
	margin: 0.8em 0.5em;
	height: 36px;
	border: 1px solid var(--primary-color);
	color: var(--main-text-color);
	border-radius: 18px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

#links a:hover, #links a[selected] {
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
}