<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="website">
    <meta name="robots" content="index,follow">
  {% block seo %}
    <title>{{ website.title }}</title>
    <meta name="description" content="{{ website.tag_line }}">
    <meta name="keywords" content="{{ website.keywords }}">
    <meta property="og:url" content="{{ website.base_url }}">
    <meta property="og:image" content="{{ website.image }}">
    <meta property="og:title" content="{{ website.title }}">
    <meta property="og:description" content="{{ website.tag_line }}">
    <meta property="og:site_name" content="{{ website.base_url }}">

    {# Twitter #}
    <meta name="twitter:site" content="{{ website.twitter_handle }}">
    <meta name="twitter:url" content="{{ website.base_url }}">
    <meta name="twitter:title" content="{{ website.title }}">
    <meta name="twitter:description" content="{{ website.tag_line }}">
    <meta name="twitter:image" content="{{ website.image }}">
  {% endblock %}
    {# Link CSS Files#}
    {% set css_main %}
      {% include "styles.css" %}
    {% endset %}
    {% set css_pure %}
      {% include "pure.css" %}
    {% endset %}
    <style>
      {{ css_main | cssmin | safe }}
      {{ css_pure | cssmin | safe }}
    </style>
    {# Pure CSS #}
    {# <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" > #}
    {% block jquery%}{% endblock %}
  </head>
  <body>
    {% include "navigation.njk" %}
    <div>{% block main%}{% endblock %}</div>
    {% include "footer.njk" %}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
         }
        });
      }
    </script>
  </body>
</html>