<!DOCTYPE HTML>
<html lang="en">
  <head>
    <script type="module" src= "/js/dark-mode-toggle.mjs"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="website">
    <meta name="theme-color" content="#ffb218"/>
  {% block seo %}
    <title>{{ website.title }}</title>
    <meta name="description" content="{{ website.tag_line }}">
    <meta name="keywords" content="{{ website.keywords }}">
    <meta property="og:url" content="{{ website.base_url }}">
    <meta property="og:image" content="{{ website.image }}">
    <meta property="og:title" content="{{ website.title }}">
    <meta property="og:description" content="{{ website.tag_line }}">
    <meta property="og:site_name" content="{{ website.base_url }}">

    {# Twitter #}
    <meta name="twitter:site" content="{{ website.twitter_handle }}">
    <meta name="twitter:url" content="{{ website.base_url }}">
    <meta name="twitter:title" content="{{ website.title }}">
    <meta name="twitter:description" content="{{ website.tag_line }}">
    <meta name="twitter:image" content="{{ website.image }}">
  {% endblock %}
    {# Link CSS Files#}
    {% set css_main %}
      {% include "css/styles.css" %}
    {% endset %}
    {% set css_pure %}
      {% include "css/pure.css" %}
    {% endset %}
    {# CSS File for Dark Mode #}
    {# {% set dark %}
      {% include "css/dark.css" %}
    {% endset %} #}
    <style>
      {{ css_main | cssmin | safe }}
      {{ css_pure | cssmin | safe }}
      {# {{ dark | cssmin | safe }} #}
    </style>
    {% block carousel%}{% endblock %}
  </head>
  <body>
    {% include "navigation.njk" %}
    {# Dark/Light Mode Icons #}
    {# <aside>
      <dark-mode-toggle appearance="switch"></dark-mode-toggle>
    </aside>
    <script>
      window.addEventListener('colorschemechange', (e) => {
        document.body.classList.toggle('dark', e.target.mode === 'dark');
      });
      window.addEventListener('colorschemechange', (e) => {
        document.body.classList.toggle('light', e.target.mode === '');
      });
    </script> #}
    <div>{% block main%}{% endblock %}</div>
    {% include "footer.njk" %}
    {% set netlify_cms %}
      {% include "js/netlify_cms.js" %}
    {% endset %}
    <script>
      {{ netlify_cms | jsmin | safe }}
    </script>
  </body>
</html>