{% extends "./base.njk" %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}
    <section>
        <h2>{{ title }}</h2>
        <h3>{{ date | readableDate }}</h3>
        <img src="{{ image | url }}" alt="{{ image }}">
        <p>{{ content | safe }}</p>
    </section>
{% endblock %}