{% extends "./base.njk" %}

{% block main %}
    <main class="container">
        <h2>{{ title }}</h2>
        <h3>{{ date | readableDate }}</h3>
        <img src="{{ image | url }}" alt="{{ image }}"></img>
        <p>{{ content | safe }}</p>
    </main>
{% endblock %}