{% extends "./base.njk" %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}
    <section>
        <h1>{{ title }}</h1>
        <h6>
			<time>{{ date | readableDate }}</time>
			{% for item in tags %}
				<a class="blogtag" href="/blog/{{item}}/">{{ item }}</h1></li></h4>
			{% endfor %}
		</h6>
        <img class="hero" src="{{ image | url }}" alt="{{ image }}">
        <p>{{ content | safe }}</p>
    </section>
{% endblock %}