<section class="block band">
    {% for career in careers_list | reverse %}
    <div class="item">
        <a href="{{ career.url | url }}" class="card">
        <div class="thumb" style="background-image: url({{ career.data.image }})"></div>
        <article>
            <h4>{{ career.data.title }}</h4>
            <span><time datetime="{{ career.date | dateFormat('yyyy-mm-dd') }}">{{ career.date | dateFormat('dd MMM yyyy') }}</time></span>
            <p>{{ career.data.description }}</p>
        </article>
        </a>
    </div>
    {% endfor %}
</section>