<footer class="pure-g">
	<div class="about-company pure-u-1 pure-u-md-2-5">
		<p><img class="logo" src="{{ website.logo }}" alt="{{ website.short_name }} Logo" width="70" height="20"></p>
		<p>{{ footer.text }}</h4>
		<p><small>© {% thisYear %} {{ footer.copyright }}</small></p>
	</div>

	{# Footer link columns: #}
	{% for col in footer.columns -%}
		<div class="linkbox pure-u-1 pure-u-md-1-5">
			<h3 class="column-header imp">{{ col.column }}</h3>

			{% if col.type == "api" %}
				{% for item in developers | rejectattr("hidden") | rejectattr("disabled") -%}
					<a href="/developers/eps/{{ item.name | slug }}">{{item.title_short or item.title}}</a>
					<br>
				{%- endfor %}
			{% endif %}

			{% if col.type == "retail" %}
				{% for item in products | rejectattr("hidden") | rejectattr("disabled") -%}
					<a href="/products/{{ item.name | slug }}">{{item.title_short or item.title}}</a>
					<br>
				{%- endfor %}
			{% endif %}

			{% if col.type == "links" %}
				{% for link in col.links -%}
					<a href="{{ link.url }}">{{link.label}}</a>
					<br>
				{%- endfor %}
			{% endif %}
		</div>
	{%- endfor %}

	{# Signup and Follow Section  #}
	<div class="signupbox pure-u-1 pure-u-md-1-5">
		<br>
		<a href="{% getSignupURL website.signup_url, business %}" class="button">Sign Up</a>
		<br><br>
		&nbsp;<small><a class="text-primary icolink sales bold" href="{{ website.contact_url }}">{{ footer.contact_button_text }}&nbsp;&nbsp;{% svgico 'commenting' %}</a></small>
		<br><br>
		<div class="socialicons">
			<h3 class="column-header">FOLLOW US</h3>
			<a href="{{ website.facebook }}" target="_blank" rel="noopener" title="{{ website.short_name }} Facebook Page">{% svgico 'facebook-square' %}</a>

			<a href="{{ website.linkedin }}" target="_blank" rel="noopener" title="{{ website.short_name }} LinkedIn Page">{% svgico 'linkedin-square' %}</a>
			<a href="{{ website.twitter }}" target="_blank" rel="noopener" title="{{ website.short_name }} Twitter Page">{% svgico 'twitter-square' %}</a>
			<a href="{{ website.github }}" target="_blank" rel="noopener" title="{{ website.short_name }} Github Page">{% svgico 'github-square' %}</a>
			<a href="/feed.xml" target="_blank" title="RSS Feed: {{ website.short_name }} Blog">{% svgico 'rss-square' %}</a>
		</div>
	</div>
</footer>

