
{% if form and form.type == "api" %}
	{% set formurl = env.ZOHO_FORM_API_URL or env.ZOHO_FORM_URL %}
{% elif form and form.type == "retail" %}
	{% set formurl = env.ZOHO_FORM_RETAIL_URL or env.ZOHO_FORM_URL %}
{% else %}
	{% set formurl = env.ZOHO_FORM_URL %}
{% endif %}

{% if formurl %}
	<iframe class="form-frame" title="Signup Form" frameborder="0" loading="lazy" src='{{formurl}}'></iframe>
{% endif %}
