<center>
    <h1>Still got a question?</h1>
    <div class="h2-border"></div>
    <p>Write to us for more information</p>

    {# <form name="contact" method="POST" data-netlify="true">
    <p>
        <label>Name: <input type="text" name="name" /></label>   
    </p>
    <p>
        <label>Email: <input type="email" name="email" /></label>
    </p>

        <p>
        <label>Phone: <input type="phone" name="phone" /></label>
    </p>
    <p>
        <label>Your Message: <textarea name="message"></textarea></label>
    </p>
    <p>
        <button class="button" type="submit">Submit</button>
    </p>
    </form> #}
</center>