<center>
    <h1>Still got a question?</h1>
    <div class="h2-border"></div>
    <p>Write to us for more information</p>

    {# <form name="contact" method="POST" data-netlify="true">
        <label><input size="55" type="text" name="name" value="Name:" /></label>
        <br><br><br>   
        <label><input size="25" type="email" name="email" value="Email:" /></label>
        <label><input size="25" type="phone" name="phone" value="Phone:" /></label>
        <br><br><br>
        <label><input size="55" type="text" name="message" value="Your Message:" /></label>
        <br><br><br>
        <button class="button" type="submit">Submit</button>
    </form> #}
</center>