<nav class="topnav layout horizontal center-center" role="navigation">

	<a class="desktoponly" href="/"><img class="logo" src="{{ website.logo }}" alt="{{ website.short_name }} Home" width="70" height="60"></a>

	<div id="menu" class="flex">

		<div id="toggle-menu">
			<a class="logolink" href="/"><img class="logo" src="{{ website.logo }}" alt="{{ website.short_name }} Home" width="70" height="40"></a>
			<span class="flex"></span>
			<label for="tm" title="Menu"><div>{% svgico 'bars' %}</div></label>
		</div>
		<input type="checkbox" id="tm">

		<ul class="main-menu clearfix">

			{# ====================== PRODUCTS MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu1">
						<div>Products <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu1">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">Products</div>
						<div class="h2-border"></div>
					</div>
					<ul>
						<li role="menuitem">
							<a href="/eloka">{% dotTag "White Label /B2B Portal" %}</a>
							<ul class="nested-sub-menu">
								<li><a href="/eloka/insurance-portal">{% dotTag "Insurance Portal" %}</a></li>
								<li><a href="/eloka/recharge-portal">{% dotTag "Recharge Portal" %}</a></li>
								<li><a href="/eloka/travel-portal">{% dotTag "Travel Portal" %}</a></li>
								<li><a href="/eloka/aeps-portal">{% dotTag "AePS Portal" %}</a></li>
								<li><a href="/eloka/payment-gateway-portal">{% dotTag "Payment Gateway Portal" %}</a></li>
								<li><a href="/eloka/indo-nepal-money-transfer-portal">{% dotTag "Indo-Nepal Money Transfer Portal" %}</a></li>
								<li><a href="/eloka/verification-portal/">{% dotTag "Verification Portal" %}</a></li>
							</ul>
						</li>

						<li role="menuitem"><a href="/developers/eps">{% dotTag "API Solutions" %}</a></li>
						<li role="menuitem"><a href="/retailer">{% dotTag "Retailers' Banking App" %}</a></li>
						<li role="menuitem"><a href="/sbi_kiosk">{% dotTag "SBI Kiosk" %}</a></li>


					</ul>
					{# <div class="extra-links">
						<img src="/assets/img/product-nav-opt.svg" width="80" height="80" loading="lazy">
						<div class="sub-menu-h1">Check out our Developer Products</div>
						<p class="capt">Available as APIs & SDKs</p>
						<a href="/developers/eps#product-list" class="button outline">Check Developer Products</a>
					</div> #}
				</div>
			</li>

			{# ====================== DEVELOPERS MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu2">
						<div>APIs <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu2">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">APIs</div>
              			<div class="h2-border"></div>
					</div>
					<ul>
						<li class="capt">Payment APIs</li>
						<li role="menuitem"><a href="/developers/eps/domestic-money-transfer-api/">{% dotTag "Money Transfer" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/aeps-cashout-sdk/">{% dotTag "Cash Withdrawal" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/bbps-api/">{% dotTag "Utility Bill Payment" %}</a></li>
					    <li role="menuitem"><a href="/developers/eps/qr-payment-api/">{% dotTag "QR Payment" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/cms-cash-collection-api/">{% dotTag "Cash Collection (CMS)" %}</a></li>
					    <li role="menuitem"><a href="/developers/eps/cms-cash-drop-api/">{% dotTag "Cash Drop (CMS)" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/payment-api/">{% dotTag "Payout" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/upi-payout-api/">{% dotTag "UPI Payout" %}</a></li>
					</ul>
					<ul>
						<li class="capt">Resources</li>
						<li role="menuitem"><a href="https://developers.eko.in/reference">{% dotTag "API References" %}</a></li>
						<li role="menuitem"><a href="https://developers.eko.in/docs">{% dotTag "Developer Guide" %}</a></li>
						<li class="capt">Verification APIs</li>
					    <li role="menuitem"><a href="/developers/eps/pan-verification-api/">{% dotTag "PAN" %}</a></li>
					    <li role="menuitem"><a href="/developers/eps/aadhaar-verification-api/">{% dotTag "Aadhaar" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/account-verification-api/">{% dotTag "Bank Account" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/gst-verification-api/">{% dotTag "GST" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/reverse-geocoding-api/">{% dotTag "Reverse Geocoding" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/dl-verification-api/">{% dotTag "Driving License" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/rc-verification-api/">{% dotTag "Registration Certificate" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/cin-verification-api/">{% dotTag "CIN" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/passport-verification-api/">{% dotTag "Passport" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/ocr-verification-api/">{% dotTag "OCR" %}</a></li>
						<li role="menuitem"><a href="/developers/eps/upi-id-verification-api/">{% dotTag "UPI ID" %}</a></li>
					</ul>
				</div>
			</li>


			{# ====================== RETAILERS MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu1">
						<div>Retailers <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu1">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">Banking Services</div>
              			<div class="h2-border"></div>
					</div>
					<ul>
						    <li class="capt">Commission based services</li>
						{%- for product in products | rejectattr("hidden") | rejectattr("disabled") -%}
							<li role="menuitem"><a href="/products/{{ product.name | slug }}">{% dotTag product.sub_header %}</a></li>
						{%- endfor -%}
						{# <li role="menuitem"><a href="/retailer">Retailers</a></li> #}
					</ul>
					<ul>
					<li class="capt">Claim other services</li>
					<li role="menuitem"><a href="/business-loans-from-eko/">{% dotTag "Business Loan" %}</a></li>
					</ul>
					{# <div class="extra-links">
						<img src="/assets/img/product-nav-opt.svg" width="80" height="80" loading="lazy">
						<div class="sub-menu-h1">Check out our Developer Products</div>
						<p class="capt">Available as APIs & SDKs</p>
						<a href="/developers/eps#product-list" class="button outline">Check Developer Products</a>
					</div> #}
				</div>
			</li>

			{# ====================== COMPANY MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu3">
						<div>Company <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu3">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">Company</div>
              			<div class="h2-border"></div>
					</div>
					<ul>
						<li role="menuitem"><a href="/about-us">{% dotTag "About Us" %}</a></li>
						{# ====================== <li role="menuitem"><a href="/our-brand-association">{% dotTag "Brand Partners" %}</a></li> ==================== #}

						<li role="menuitem"><a href="/blog">{% dotTag "Blogs" %}</a></li>
						<li role="menuitem"><a href="/eko-university/about-eko">{% dotTag "Eko University" %}</a></li>
						<li role="menuitem"><a href="/faq">{% dotTag "FAQs" %}</a></li>
					</ul>
				</div>
			</li>
			<li><a href="{{ website.contact_url }}" class="icolink" >Contact Us</a></li>

			{# ====================== Mobile Signup Link ==================== #}
			<li class="mobileonly"><a href="{% getSignupURL website.signup_url, business %}">Sign Up</a></li>
		</ul>
	</div>

	{# Sign Up Buttons #}
	<div class="desktoponly layout horizontal center" style="width:310px">
		<div class="callUs">
		<img src="/assets/img/customer-service.png">
		 <span>+91 9911849143</span>
		</div>
		<a href="{% getSignupURL website.signup_url, business %}" class="button">Sign Up</a>
	</div>
</nav>