<nav class="topnav layout horizontal center-center" role="navigation">

	<a class="desktoponly" href="/"><img class="logo" src="{{ website.logo }}" alt="{{ website.short_name }} Home" width="70" height="60"></a>

	<div id="menu" class="flex">

		<div id="toggle-menu">
			<a class="logolink" href="/"><img class="logo" src="{{ website.logo }}" alt="{{ website.short_name }} Home" width="70" height="40"></a>
			<span class="flex"></span>
			<label for="tm" title="Menu"><div>{% svgico 'bars' %}</div></label>
		</div>
		<input type="checkbox" id="tm">

		<ul class="main-menu clearfix">

			{# ====================== LENDING MENU ==================== #}
			<li><a href="/business-loans-from-eko">Lending</a></li>

			{# ====================== PRODUCTS MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu1">
						<div>Products <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu1">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">Products</div>
              			<div class="h2-border"></div>
					</div>
					<ul>
						{%- for product in products | rejectattr("hidden") | rejectattr("disabled") -%}
							<li role="menuitem"><a href="/products/{{ product.name | slug }}">{% dotTag product.sub_header %}</a></li>
						{%- endfor -%}
					</ul>
					<div class="extra-links">
						<img src="/assets/img/product-nav-opt.svg" width="80" height="80" loading="lazy">
						<div class="sub-menu-h1">Check out our Developer Products</div>
						<p class="capt">Available as APIs & SDKs</p>
						<a href="/developers/eps#product-list" class="button outline">Check Developer Products</a>
					</div>
				</div>
			</li>


			{# ====================== RETAILERS MENU ==================== #}
			<li><a href="/retailer">Retailers</a></li>

			{# ====================== DEVELOPERS MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu2">
						<div>Developers <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu2">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">Developers</div>
              			<div class="h2-border"></div>
					</div>
					<ul>
						<li class="capt">Develop With</li>
						<li role="menuitem"><a href="/developers/eps">{% dotTag "Eko Platform Services" %}</a></li>
						<li class="capt">Resources</li>
						<li role="menuitem"><a href="https://developers.eko.in/reference">{% dotTag "API references" %}</a></li>
						<li role="menuitem"><a href="https://developers.eko.in/docs">{% dotTag "Developer Guide" %}</a></li>
					</ul>
				</div>
			</li>

			{# ====================== COMPANY MENU ==================== #}
			<li><a href="#">
					<label title="Toggle Drop-down" for="sbmnu3">
						<div>Company <span class="drop-icon">▾</span></div>
					</label>
				</a>
				<input type="checkbox" id="sbmnu3">
				<div class="sub-menu layout horizontal">
					<div>
						<div class="sub-menu-h1">Company</div>
              			<div class="h2-border"></div>
					</div>
					<ul>
						<li role="menuitem"><a href="/about-us">{% dotTag "About Us" %}</a></li>
						{# ====================== <li role="menuitem"><a href="/our-brand-association">{% dotTag "Brand Partners" %}</a></li> ==================== #}
						
						<li role="menuitem"><a href="/blog">{% dotTag "Blogs" %}</a></li>
						<li role="menuitem"><a href="/eko-university/about-eko">{% dotTag "Eko University" %}</a></li>
						<li role="menuitem"><a href="/faq">{% dotTag "FAQs" %}</a></li>
					</ul>
				</div>
			</li>

			{# ====================== Mobile Signup Link ==================== #}
			<li class="mobileonly"><a href="{% getSignupURL website.signup_url, business %}">Sign Up</a></li>
		</ul>
	</div>

	{# Sign Up Buttons #}
	<div class="desktoponly layout horizontal center">
		<span style="padding-right:5px;">+91 73037 00879</span>
		<a href="{{ website.contact_url }}" style="padding-right:25px" class="icolink" >&nbsp;&nbsp;Contact Us</a>&nbsp;&nbsp;
		<a href="{% getSignupURL website.signup_url, business %}" class="button">Sign Up</a>
	</div>
</nav>
