<nav class="topnav">
  <div class="pure-g flex-grid">
    <div class="pure-u-1 pure-u-md-1-6 l-box order-1-sm">
      <a class="l-box-main" href="/"><img class="logo" src="{{ website.logo }}" alt="logo"></a>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 pure-u-sm-1 l-box order-3-sm">
      <center>
      <ul class="nav" role="menubar">
        <li role="menuitem" class="l-box-main">
          <a href="#">Products</a>
          <div class="mega-menu" aria-hidden="true" role="menu">
            <div class="pure-g">
              <div class="pure-u-1 pure-u-md-5-24 nav-column l-box">
                <br>
                <h5>Product</h5>
                <div class="h2-border"></div>
              </div>
              <div class="pure-u-1 pure-u-md-9-24 nav-column l-box">
                <ul>
                  <br>
                  <li role="menuitem"><a href="/products/money-transfer/">{% orangeDot %} Money Transfer</a></li>
                  <li role="menuitem"><a href="/products/aadhaar-banking-cash-out/">{% orangeDot %} Aadhar Banking / Cash Out</a></li>
                  <li role="menuitem"><a href="https://eko.in/products/doorstep-cash-delivery">{% orangeDot %} Doorstep Cash Delivery</a></li>
                  <li role="menuitem"><a href="https://eko.in/products/utility-and-bill-payment">{% orangeDot %} Utility & Bill Payment</a></li>
                  <li role="menuitem"><a href="https://eko.in/products/sell-insurance">{% orangeDot %} Sell Insurance </a></li>
                  <li role="menuitem"><a href="https://eko.in/products/indo-nepal-money-transfer">{% orangeDot %} Indo-Nepal Money Transfer</a></li>
                </ul>
              </div>
              <div class="pure-u-1 pure-u-md-9-24 nav-column l-box">
                <img src="/images/product-nav.svg" alt="">
                <h5>Check out our Developer Products</h5>
                <p>Available as APIs & SDKs</p>
                <a href="https://eko.in/developers/eps#with-border-box" class="button-white">Check Developer Products</a>
              </div>
              </div>
            </div>
        </li>
          
        <li role="menuitem" class="l-box-main"><a href="https://eko.in/retailer">Retailers</a></li>
        
        <li role="menuitem" class="l-box-main">
          <a href="#">Developers</a>
          <div class="mega-menu small" aria-hidden="true" role="menu">
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-3 nav-column l-box">
              <h5>Developers</h5>
              <div class="h2-border"></div>
            </div>
            <div class="pure-u-1 pure-u-md-2-3 nav-column l-box">
              <ul>
                <li rol="capt">Develop with</li>
                <li role="menuitem"><a href="https://eko.in/developers/eps">{% orangeDot %} Eko Platform Services</a></li>
                <li rol="capt">Resources</li>
                <li role="menuitem"><a href="https://developers.eko.in/reference">{% orangeDot %} API references</a></li>
                <li role="menuitem"><a href="https://developers.eko.in/docs">{% orangeDot %} Developer Guide</a></li>
              </ul>
            </div>
            </div>
          </div>
        </li>     

        <li role="menuitem" class="l-box-main">
          <a href="#">Company</a>
          <div class="mega-menu small" aria-hidden="true" role="menu">
            <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-3 nav-column l-box">
              <h5>Company</h5>
              <div class="h2-border"></div>
            </div>
            <div class="pure-u-1 pure-u-md-2-3 nav-column l-box">
              <ul>
                <li role="menuitem"><a href="/about-us/">{% orangeDot %} About Us</a></li>
                <li role="menuitem"><a href="https://eko.in/our-brand-association">{% orangeDot %} Brand Partner</a></li>
                <li rol="capt">Help Center</li>
                <li role="menuitem"><a href="/blogs/">{% orangeDot %} Blogs</a></li>
                <li role="menuitem"><a href="/eko-university/about-eko/">{% orangeDot %} Eko University</a></li>
                <li role="menuitem"><a href="https://eko.in/faq">{% orangeDot %} FAQs</a></li>
              </ul>
            </div>
            </div>
          </div>
        </li>
      </ul>
      </center>
    </div>
  
    <div class="pure-u-1 pure-u-md-1-3 l-box order-2-sm">
      <ul class="nav" role="menubar">  
        <li role="menuitem" class="l-box-main">
          <a href="{{ website.contact_url }}"><img src="/images/paper-plane.svg" alt="">  Contact Sales</a>
        </li>
        <li role="menuitem" class="l-box-main">
          <a href="{{ website.signup_url }}" class="button">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{# <nav class="mobileNav">
  <a href="/"><img class="logo" src="{{ website.logo }}" alt="logo"></a>
  <div class="flex-grid">
    <ul role="menubar">
      <li role="menuitem" class="l-box-main">
        <a href="#">Products</a>
        <div class="" aria-hidden="true" role="menu">
          <ul>
            <li role="menuitem"><a href="/products/money-transfer/">{% orangeDot %} Money Transfer</a></li>
            <li role="menuitem"><a href="/products/aadhaar-banking-cash-out/">{% orangeDot %} Aadhar Banking / Cash Out</a></li>
            <li role="menuitem"><a href="https://eko.in/products/doorstep-cash-delivery">{% orangeDot %} Doorstep Cash Delivery</a></li>
            <li role="menuitem"><a href="https://eko.in/products/utility-and-bill-payment">{% orangeDot %} Utility & Bill Payment</a></li>
            <li role="menuitem"><a href="https://eko.in/products/sell-insurance">{% orangeDot %} Sell Insurance </a></li>
            <li role="menuitem"><a href="https://eko.in/products/indo-nepal-money-transfer">{% orangeDot %} Indo-Nepal Money Transfer</a></li>
          </ul>
        </div>
      </li>
        
      <li role="menuitem"><a href="https://eko.in/retailer">Retailers</a></li>
      
      <li role="menuitem">
        <a href="#">Developers</a>
        <div aria-hidden="true" role="menu">
          <ul>
            <li role="menuitem"><a href="https://eko.in/developers/eps">{% orangeDot %} Eko Platform Services</a></li>
            <li role="menuitem"><a href="https://developers.eko.in/reference">{% orangeDot %} API references</a></li>
            <li role="menuitem"><a href="https://developers.eko.in/docs">{% orangeDot %} Developer Guide</a></li>
          </ul>
        </div>
      </li>     

      <li role="menuitem">
        <a href="#">Company</a>
        <div aria-hidden="true" role="menu">
          <ul>
            <li role="menuitem"><a href="/about-us/">{% orangeDot %} About Us</a></li>
            <li role="menuitem"><a href="https://eko.in/our-brand-association">{% orangeDot %} Brand Partner</a></li>
            <li role="menuitem"><a href="/blogs/">{% orangeDot %} Blogs</a></li>
            <li role="menuitem"><a href="/eko-university/about-eko/">{% orangeDot %} Eko University</a></li>
            <li role="menuitem"><a href="https://eko.in/faq">{% orangeDot %} FAQs</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav> #}

{# Mobile Nav #}
<div class="mobileNav">
  <header class="clearfix">
    <a href="/"><img class="logo" src="{{ website.logo }}" alt="logo"></a>
  </header>	
  <nav id="cbp-hrmenu" class="cbp-hrmenu">
    <ul>
      <li role="menuitem">
        <a href="#">Products</a>
        <div class="cbp-hrsub">
          <div class="cbp-hrsub-inner"> 
            <div class="" aria-hidden="true" role="menu">
              <ul>
                <li role="menuitem"><a href="/products/money-transfer/">{% orangeDot %} Money Transfer</a></li>
                <li role="menuitem"><a href="/products/aadhaar-banking-cash-out/">{% orangeDot %} Aadhar Banking / Cash Out</a></li>
                <li role="menuitem"><a href="https://eko.in/products/doorstep-cash-delivery">{% orangeDot %} Doorstep Cash Delivery</a></li>
                <li role="menuitem"><a href="https://eko.in/products/utility-and-bill-payment">{% orangeDot %} Utility & Bill Payment</a></li>
                <li role="menuitem"><a href="https://eko.in/products/sell-insurance">{% orangeDot %} Sell Insurance </a></li>
                <li role="menuitem"><a href="https://eko.in/products/indo-nepal-money-transfer">{% orangeDot %} Indo-Nepal Money Transfer</a></li>
              </ul>
            </div>
          </div><!-- /cbp-hrsub-inner -->
        </div><!-- /cbp-hrsub -->
      </li>

      <a class="single-nav" href="https://eko.in/retailer">Retailers</a>

      <li role="menuitem">
        <a href="#">Developers</a>
        <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner">
        <div aria-hidden="true" role="menu">
          <ul>
            <li role="menuitem"><a href="https://eko.in/developers/eps">{% orangeDot %} Eko Platform Services</a></li>
            <li role="menuitem"><a href="https://developers.eko.in/reference">{% orangeDot %} API references</a></li>
            <li role="menuitem"><a href="https://developers.eko.in/docs">{% orangeDot %} Developer Guide</a></li>
          </ul>
        </div>
        </div>
        </div>
      </li>  

      <li role="menuitem">
      <a href="#">Company</a>
      <div class="cbp-hrsub">
      <div class="cbp-hrsub-inner">
      <div aria-hidden="true" role="menu">
        <ul>
          <li role="menuitem"><a href="/about-us/">{% orangeDot %} About Us</a></li>
          <li role="menuitem"><a href="https://eko.in/our-brand-association">{% orangeDot %} Brand Partner</a></li>
          <li role="menuitem"><a href="/blogs/">{% orangeDot %} Blogs</a></li>
          <li role="menuitem"><a href="/eko-university/about-eko/">{% orangeDot %} Eko University</a></li>
          <li role="menuitem"><a href="https://eko.in/faq">{% orangeDot %} FAQs</a></li>
        </ul>
      </div>
      </div>
      </div>
    </li>
    </ul>
  </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% set responsiveNav %}
  {% include "js/nav.js" %}
{% endset %}
<script>
  {{ responsiveNav | jsmin | safe }}
</script>
