<section class="background-section" type="heros_main">

	{% if item.header %}
		<center>
			<h1>{{ item.header }}</h1>
			<div class="h2-border"></div>
		</center>
	{% endif %}

	{% for hero in item.items %}
			{% if hero.type == 'single' %}
				<center>
					<img class="mw-100" src="{{ hero.image }}" alt="{{ hero.title }}">
					<br><br>
					<h3>{{ hero.title }}</h3>
					<p>{{ hero.text }}</p>
				</center>
			{% else %}
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm">
						<center>
							<img src="{{ hero.image_left }}" alt="{{ hero.title_left }}">
							<br><br>
							<h3>{{ hero.title_left }}</h3>
							<p>{{ hero.text_left }}</p>
						</center>
					</div>
					<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
						<center>
							<img src=" {{ hero.image_right }}" alt="{{ hero.title_right }}">
							<br><br>
							<h3>{{ hero.title_right }}</h3>
							<p>{{ hero.text_right }}</p>
						</center>
					</div>
				</div>
			{% endif %}
			<br>
	{% endfor %}
</section>