<section class="background-section">
	<center>
		<div class="bullet-list">
			<ul>
			{% for line in item.lines %}
				<li>{{ line }}</li>
			{% endfor %}
			</ul>
		</div>
	</center>
</section>
