<section class="carousel" type="carousel">
	{% if item.header %}
		<h1>{{ item.header }}</h1>
		<div class="h2-border"></div>
	{% endif %}

	<center>
		<div class="embla">

			{% set _embla_style_class = "embla" %}
			{% set _embla_style_class_extra = "" %}
			{% if item.style == "gallery" %}
				{% set _embla_style_class = "gallery" %}
				{% set _embla_style_class_extra = "gallery" %}
			{% endif %}

			<div class="embla__viewport {{ _embla_style_class_extra }}">
				<div class="{{ _embla_style_class }}__container">
					{% for slide in item.slides %}
						<div class="{{ _embla_style_class }}__slide">
							<div class="pure-g {{ _embla_style_class }}__slide__inner">

								{% if item.style == "gallery" %}
									<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
										<p>{{ slide.description }}</p>
									</div>
									<div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm partner-box">
										<center>
											<img class="round" src="{{ slide.image }}" alt="{{ slide.title }}" loading="lazy">
											<h1>{{ slide.title }}</h1>
											<p class="caption">{{ slide.caption }}</p>
										</center>
									</div>
								{% else %}
									<div class="pure-u-1 pure-u-md-1-2 l-box">
										<img src="{{ slide.image }}" alt="{{ slide.title }}" loading="lazy">
									</div>
									<div class="pure-u-1 pure-u-md-1-2 l-box">
										<h2>{{ slide.title }}</h2>
										<p>{{ slide.description }}</p>
									</div>
								{% endif %}

							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			{# Buttons #}
			<button aria-label="previous" class="embla__button embla__button--prev" type="button">
				<svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
					<path d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"></path>
				</svg>
			</button>

			<button aria-label="next" class="embla__button embla__button--next" type="button">
				<svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
					<path d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"></path>
				</svg>
			</button>
		</div>
	</center>
</section>
