<section class="block section-message" type="message">
	<div class="layout vertical horizontal-md">
		<div>
			<img src="/assets/img/star.webp" loading="lazy">
		</div>
		<div>
			<p>{% markdown %}{{ item.line1 }}{% endmarkdown %}</p>
			{% if item.line2 %}
				<p>{{ item.line2 }}</p>
			{% endif %}
			<p class="bold">{{ item.main_line }}</p>
			<a href="{{ website.contact_url }}" class="button outline">{{ item.button_text }}</a>
		</div>
	</div>
</section>
