<section class="block single-hero pure-g flex-grid" type="single_hero">
	<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
		<img src="{{ item.image }}" alt="{{ item.title }}" loading="lazy">
	</div>
	<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
		{% if item.link_text %}
			<h1 class="header">{{ item.title }}</h1>
			<div class="h2-border"></div>
		{% else %}
			<h3>{{ item.title }}</h3>
		{% endif %}
		<p>{{ item.text }}</p>
		{% if item.link_text %}
			{% linkArrow item.link, item.link_text, 'bold' %}
		{% endif %}
	</div>
</section>