<section class="block documentation_link_banner" type="custom_link_banner">
	<center>
		<div class="layout horizontal wrap center-center">
			<img src="/assets/img/lending-page/google-play-logo.png">
			<h2>&nbsp;{{ item.title }}&nbsp;</h2>
			<a href="{{ item.link }}" class="button_text"><img src="/assets/img/lending-page/play-store.png"></a>
		</div>
	</center>
</section>
