<section>
    <center>
        <h5>{{ item.small_description }}</h5>
        <h1>{{ item.header }}</h1>
        <div class="h2-border"></div>
        <br>
        <p>{{ product.description }}</p>   
    </center>
</section>