<section class="block bg-shaded" type="short_ad">
	<div class="pure-g short_ad flex-grid">
		<div class="pure-u-1 pure-u-md-1-4 l-box order-1-sm">
			<img src="{{ item.image }}" loading="lazy">
		</div>
		<div class="pure-u-1 pure-u-md-3-4 l-box order-1-sm order-1-md">
			<h1>{{ item.title }}</h1>
			<p>{{ item.text }}</p>
		</div>
	</div>
</section>
