<section id="sectionSignupForm" class="block bg-shaded signup_form  layout vertical horizontal-md center" type="custom_form">

<div class="flex imgbox m-imgbox">
	<img src="/assets/img/lending-page/contact-us.png" alt="Banner-Lending-Page">
</div>

<div class="descbox layout inline vertical flex">
		<h2>Contact Us</h2>
		<div class="h2-border"></div>
		<p>Write to us for more information</p>

		{% include "form.njk" %}
</div>

</section>
