<section class="alternating-steps" type="alternating_steps">
	{% if item.title %}
		<center>
			<p>{{ item.subtitle }}</p>
			<h1>{{ item.title }}</h1>
			<div class="h2-border"></div>
			<br><br>
		</center>
	{% endif %}

	{% for step in item.steps %}
		<div class="pure-g flex-grid">
			<div class="step-text pure-u-1 pure-u-md-1-2 l-box">
				<h2>{{ step.title }}</h2>
            	<br>
				<p>{{ step.text }}</p>
				{% if step.tag %}
					{% dotTag step.tag, 'filled' %}
					<br><br><br>
				{% endif%}
				{% if step.button %}
					<a href="{{ step.button_link }}" class="button">{{ step.button }}</a>
					<span class="horizontal-spacer"></span>
					{% linkArrow step.info_link, step.more_info, 'bold' %}
				{% endif %}
			</div>
			<div class="step-image pure-u-1 pure-u-md-1-2 l-box">
				<img src="{{ step.image }}" alt="{{ step.title }}" loading="lazy">
			</div>
		</div>
	{% endfor %}
</section>
