<center>
<section class="block index-page-hero" type="index_page_hero">
		{% if item.tag_title %}
			{% dotTag item.tag_title + ' - ' + item.tag_description, "filled raised" %}
		{% endif %}
		<h1 class="main-header">{{ item.header }}</h1>
		<br>
		<div class="bg-image" style="background-image: url({{ item.image }})">
			<a href="https://eko.in/sign-up" class="button">Try for Free</a>
		</div>
</section>
</center>
