<section id="sectionSignupForm" class="block bg-shaded signup_form  layout vertical horizontal-md center" type="custom_form">

<div class="flex imgbox m-imgbox">
	<img src="/assets/img/lending-page/contact-us.png" alt="Banner-Lending-Page">
</div>

<div class="descbox layout inline vertical flex">
		<h2>Start your business now</h2>
		<div class="h2-border"></div>
		<p>Write to us for more information</p>

		<div class="layout horizontal center">
					<a href="https://connect.eko.in/" class="button cst-btn">{{ product.signup_label or 'Sign up' }}</a>
					{% if product.learn_more_link %}
						&nbsp;&nbsp;&nbsp;
						{% linkArrow product.learn_more_link, product.learn_more_label or "Download Connect" %}
					{% endif %}
		</div>

				{# include "form.njk" #}

</div>

</section>
