<section class="alternating-steps">
	{% for step in item.steps %}
		<div class="pure-g flex-grid">
			<div class="step-text pure-u-1 pure-u-md-1-2 l-box">
				<h3>{{ step.title }}</h3>
				<p>{{ step.text }}</p>
			</div>
			<div class="step-image pure-u-1 pure-u-md-1-2 l-box">
				<img src="{{ step.image }}">
			</div>
		</div>
	{% endfor %}
</section>
