<section class="block bg-shaded" type="one_liner">
	<center>
		<div class="one-liner">
			{% if item.icon %}
				<img src="{{ item.icon }}" alt="{{ item.title }}" loading="lazy">
			{% endif %}
			{% if item.tags %}
				<div class="tags-row layout horizontal wrap center-center">
					{% for tag in item.tags %}
						&nbsp;{% dotTag tag.name, "filled" %}&nbsp;
					{% endfor %}
				</div>
			{% endif %}
			<h1>{{ item.title }}</h1>
			{% if item.text %}
				<span class="h2-border"></span>
				<p>{{ item.text }}</p>
			{% endif %}
		</div>
	</center>
</section>
