<section class="pure-g container flex-grid">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <img src="{{ item.image }}" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
    </div>
</section>