<center>
<section class="large-top-hero" type="large_top_hero">
		{% if item.tag_title %}
			<span class="dot-box">
				<span class="dot">
					<span class="orange-dot"></span>
					{{ item.tag_title }}
					<span><a href="{{ item.tag_link }}" target="_blank" rel="noopener">{{ item.tag_description }}</a></span>
				</span>
			</span>
		{% endif %}
		<h1 class="main-header">{{ item.header }}</h1>
		<br>
		<div class="bg-image" style="background-image: url({{ item.image }})">
			<a href="https://eko.in/sign-up" class="button">Try for Free</a>
		</div>
</section>
</center>
