<section class="block bg-shaded documentation_link_banner" type="documentation_link_banner">
	<center>
		<div class="layout horizontal wrap center-center">
			<img src="/assets/img/developers/document-icon.svg">
			<h2>&nbsp;{{ item.title }}&nbsp;</h2>
			<a href="{{ item.link }}" class="button">View Documentation</a>
		</div>
	</center>
</section>
