<section class="background-section">
	<center>
		<div class="bullet-list">
			<ul>
			{% for bullet in item.lines %}
				<li><span>{{ bullet.text }}</span></li>
			{% endfor %}
			</ul>
		</div>
	</center>
</section>
