<section class="one-liner container">
<center>
	<img src="{{ item.icon }}" alt="{{ item.title }}">
	<h1>{{ item.title }}</h1>
	<span class="h2-border"></span>
	<p>{{ item.text }}</p>
</center>
</section>
