<section class="single-hero pure-g flex-grid" type="single_hero">
	<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
		<img src="{{ item.image }}" alt="{{ item.title }}" loading="lazy">
	</div>
	<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
		{% if item.link_text %}
			<h1 class="header">{{ item.title }}</h1>
			<div class="h2-border"></div>
		{% else %}
			<h3>{{ item.title }}</h3>
		{% endif %}
		<p>{{ item.text }}</p>
		{% if item.link_text %}
			<a href="{{ item.link }}" title="learn more about {{ item.title }}" class="icolink bold">
				{{ item.link_text }}&nbsp;&nbsp;
				<img src="/images/icons/next-icon.svg">
			</a>
		{% endif %}
	</div>
</section>