<section>
	<center>
		<h1>{{ item.header}}</h1>
		<span class="h2-border"></span>
	</center>
	<p><br></p>
	<div class="pure-g">
		<center>
			{% for _img in item.partner_images %}
				<div class="img-box">
					<img typeof="foaf:Image" class="dimmed-image" src="{{ _img }}" loading="lazy">
				</div>
			{% endfor %}
		</center>
	</div>
</section>