<section class="block" type="mid_summary">
	<center>
		<div class="subtitle bold">{{ item.small_description }}</div>
		<h2>{{ item.header }}</h2>
		<div class="h2-border"></div>
		<br>
		<p class="lh-high p-fw">{{ item.main_text }}</p>
	</center>
</section>