
<center>
    <h1>{{ item.header}}</h1>
    <span class="h2-border"></span>
</center>
<p><br></p>
<center>
    <div class="pure-g">
        {% for sm_key, sm_val in item %}
            {% if sm_key != 'header' %}
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
                <img class="dimmed-image" src="{{ sm_val.image }}" alt="">
            </div>
            {% endif %}
        {% endfor %}
    </div>
</center>