---
pagination:
  data: collections
  size: 10
  alias: tag
  filter:
    - all
    - blog
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/pageTemplates/base.njk" %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}

	<section>
		<header>
			<h1>Blog</h1>
		</header>
	</section>

	{% set blogslist = collections.blog %}
	{% include "blogslist.njk" %}

	<section>
		<h1>Categories</h1>
		<ul>
			{% for item in tag %}
				<li><h4><a href="/blog/{{item}}/">{{ item | capitalize }}</h1></li></h4>
			{% endfor %}
		</ul>
	</section>

{% endblock %}