---
pagination:
  data: collections.blog
  size: 10
  alias: posts
  reverse: true
  filter:
    - all
    - blog
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/base.njk" %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}

	<section>
		<header>
			<h1>Blog</h1>
		</header>
	</section>

	{% set blogposts = posts %}
	{% include "blogslist.njk" %}

	<section>
		<h3>Browse by Tag</h3>
		<div class="layout horizontal wrap">
			{% for item in collections.blogtags %}
				<a class="nostyle" href="/blog/tags/{{item}}/">{% dotTag item, "filled" %}</a>&nbsp;
			{% endfor %}
		</div>
	</section>

{% endblock %}