---
pagination:
  data: collections
  size: 10
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/pageTemplates/base.njk" %}

{% block main %}
<main class="container">
    <div class="container">
        <header>
            <h1>Blog Posts</h1>
            <span class="h2-border"></span>
        </header>
        {% set blogslist = collections['post'] %}
        {% include "blogslist.njk" %}
    </div>
</main>
{% endblock %}