{% extends "./embed_base.njk" %}

{# Ideally set through eleventyComputed in front-matter but not working. Bug? #}
{% set description = description or page.excerpt | trim %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}
	<section class="block announcementpage">
		<div class="blog-post-tools">
			<a class="button outline" href="/eloka-admin-announcement/">{% svgico 'arrow-circle-left' %}Back</a>
			<div style="flex:1"></div>
			<a class="button outline" href="https://chatgpt.com/?q={{ ("Provide a short summary of this webpage, followed by a detailed summary in bullet points, then ask me follow-up questions such as translating it to my language: " ~ env.BASE_URL ~ page.url) | url | encodeURIComponent }}" target="_blank">{% svgico 'robot-happy' %}AI Summary</a>
		</div>
        <h1>{{ title }}</h1>
        <div class="blog-post-tools">
			<time>{{ date | dateFormat('MMM d, yyyy') }}</time>
		</div>

        {% Image image, 'Post Illustration', false, 'hero' %}

		<p>{{ content | safe }}</p>

		<br><br><hr>
		<a class="button outline" href="/eloka-admin-announcement/">{% svgico 'arrow-circle-left' %}Back To All Announcements</a>
    </section>
{% endblock %}
