<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#ffb218"/>


	{# ---- Optimal/non-blocking way to load Google Font (https://csswizardry.com/2020/05/the-fastest-google-fonts) ---- #}
	{% if website.google_font_url %}
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		{# Less optimized method but less FOUT: #}
		<link rel="stylesheet" href="{{ website.google_font_url }}" />

		{# More optimized method but more FOUT: #}
		{# <link rel="preload" as="style" href="{{ website.google_font_url }}" />
		<link rel="stylesheet" href="{{ website.google_font_url }}" media="print" onload="this.media='all'" /> #}
		{# Ignoring <noscript> for normal font load when Javascript is disabled. Fallback font will be used #}
	{% endif %}

	{% block seo %}
		<title>{{ website.title }}</title>
		<meta name="description" content="{{ website.tag_line }}">
		<meta name="keywords" content="{{ website.keywords }}">

		{# OpenGraph (Facebook) Social Card #}
		<meta property="og:image" content="{{ env.BASE_URL }}{{ website.image }}">
		<meta property="og:title" content="{{ website.title }}">
		<meta property="og:description" content="{{ website.tag_line }}">

		{# Twitter Social Card #}
		<meta name="twitter:title" content="{{ website.title }}">
		<meta name="twitter:description" content="{{ website.tag_line }}">
		<meta name="twitter:image" content="{{ env.BASE_URL }}{{ website.image }}">
	{% endblock %}

	{# Common Social metatags #}
    <meta property="og:type" content="website">
	<meta property="og:url" content="{{ env.BASE_URL }}{{ page.url }}">
    <meta property="og:site_name" content="{{ website.title }}">
    <meta name="twitter:card" content="website">
    <meta name="twitter:url" content="{{ env.BASE_URL }}{{ page.url }}">
    <meta name="twitter:site" content="{{ website.twitter_handle }}">


    {# DEFINE Main CSS Files (common to all sections & pages) #}
    {% set css_main %}
	  {% include "css/flex.css" %}
      {% include "css/base.css" %}
	  {% include "css/nav.css" %}
	  {% include "css/footer.css" %}
    {% endset %}

	{# DEFINE PureCSS.io Grid System CSS #}
    {% set css_pure %}
	  {# read more: https://purecss.io #}
      {% include "css/purecss/base-min.css" %}
	  {% include "css/purecss/grids-min.css" %}
	  {% include "css/purecss/grids-responsive-min.css" %}
    {% endset %}

	{# DEFINE CSS to debug components #}
	{% set css_debug %}
	  {% include "css/debug.css" %}
    {% endset %}

	{# DEFINE CSS for Blog section (included in blog template and the blog listing pages) #}
	{% set css_blog %}
      {% include "css/blog.css" %}
    {% endset %}

	{# DEFINE Font Awesone Icons #}
	{#
    {% set font_awesome %}
	  {% include "css/fontawesome/css/fontawesome.min.css" %}
	  {% include "css/fontawesome/css/brands.min.css" %}
	  {% include "css/fontawesome/css/solid.min.css" %}
    {% endset %}
	#}


	{# ----- DEFINE EMBLA CAROUSEL SUPPORT (https://github.com/davidcetinkaya/embla-carousel) ------ #}
	{% set js_carousel %}
		{% include "js/embla-carousel.umd.min.js" %}
		{% include "js/carousel.js" %}
	{% endset %}
	{% set css_carousel %}
	  {% include "css/carousel.css" %}
    {% endset %}


	{# ------ Dark Mode ------- #}
	{# <script type="module" src= "/js/dark-mode-toggle.mjs"></script> #}
    {# {% set dark %}
      {% include "css/dark.css" %}
    {% endset %} #}

	<style>
      {{ css_pure | cssmin | safe }}
      {{ css_main | cssmin | safe }}
      {# {{ dark | cssmin | safe }} #}

	  {% block custom_style %}{% endblock %}
    </style>

	{% if env.DEBUG_SECTIONS=='true' %}
		<style>{{ css_debug | cssmin | safe }}</style>
	{% endif %}

  </head>

  <body>

	{# <div hidden>{% iconsprite %}</div> #}

    {% include "navigation.njk" %}

	{# Dark/Light Mode Icons #}
    {# <aside>
      <dark-mode-toggle appearance="switch"></dark-mode-toggle>
    </aside>
    <script>
      window.addEventListener('colorschemechange', (e) => {
        document.body.classList.toggle('dark', e.target.mode === 'dark');
      });
      window.addEventListener('colorschemechange', (e) => {
        document.body.classList.toggle('light', e.target.mode === '');
      });
    </script>
	#}

	<main>
		{% block main%}{% endblock %}
	</main>

	{% include "footer.njk" %}

	{% set netlify_cms %}
      {% include "js/netlify_cms.js" %}
    {% endset %}

    <script>
      {{ netlify_cms | jsmin | safe }}
    </script>

	{# ~~~~~ Global site tag (gtag.js) - Google Analytics ~~~~~ #}
	{% if env.GA_KEY %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ website.analytics_key }}"></script>
		{% set google %}
			{% include "js/google_analytics.js" %}
		{% endset %}
		<script>
			{{ google | jsmin | safe }}
			window.onload = googleAnalytics('{{ env.GA_KEY }}');
		</script>
    {% endif %}


	{# ~~~~~ Microsoft Clarity (Analytics) ~~~~~ #}
    {% if env.MS_CLARITY_TAG %}
      <script>(function(c,l,a,r,i,t,y){c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);})(window, document, "clarity", "script", "{{ env.MS_CLARITY_TAG }}");</script>
    {% endif %}


	{# ~~~~~~ Zoho SalesIQ ~~~~~~ #}
	{% if env.ZOHO_SALESIQ_WIDGETCODE %}
		<script>
		window.onload=function(){
		window.$zoho=window.$zoho || {};$zoho.salesiq = $zoho.salesiq ||
		{widgetcode:"{{env.ZOHO_SALESIQ_WIDGETCODE}}", values:{},ready:function(){}};
		var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
		s.src="https://salesiq.zoho.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
		}
		</script>
		<div id='zsiqwidget'></div>
	{% endif %}


	{# ~~~~~~~~ custom script placeholder for other pages ~~~~~~~~ #}
	<script>{% block custom_script %}{% endblock %}</script>

  </body>
</html>