{% extends "./base.njk" %}

{# Ideally set through eleventyComputed in front-matter but not working. Bug? #}
{% set description = description or page.excerpt | trim %}

{% block head %}
	<link rel="index" href="{{ env.BASE_URL }}/blog/">
{% endblock %}

{% block custom_style %}
	{{ css_blog | cssmin | safe }}
{% endblock %}

{% block main %}
	<section class="block">
        <h1>{{ title }}</h1>
        <h6>
			<time>{{ date | dateFormat('MMM d, yyyy') }}</time>
			{% for item in tags %}
				<a class="blogtag" href="/blog/{{item}}/">#{{ item }}</h1></li></h4>
			{% endfor %}
		</h6>
        <img class="hero" src="{{ image | url }}" alt="{{ image }}">
        <p>{{ content | safe }}</p>

		<br><br><hr>
		<a class="button outline" href="/blog/">{% svgico 'arrow-circle-left' %}&nbsp;All Posts</a>
    </section>
{% endblock %}
