{% extends "./base.njk" %}


{% block custom_style %}
	{{ css_university | cssmin | safe }}
{% endblock %}


{% block main %}

	<section class="block flex-grid" id="links">
		{% for item in ekoUniversity %}
			<div {% if page.url == '/eko-university/' + item.title | slug + '/' %}selected{% endif %}>
				<p><a href="/eko-university/{{ item.title | slug }}">{{ item.title }}</a></p>
			</div>
		{% endfor %}
	</section>

	<section class="block pure-g">
		{% for id in ekoUni.ids %}
			<div class="pure-u-1-2 pure-u-md-1-2 pure-u-sm-1 l-box">
			<p>{% youtube id %}</p>
			</div>
		{% endfor %}
	</section>

{% endblock %}
