{% extends "./base.njk" %}


{% block custom_style %}
	{{ css_university | cssmin | safe }}
{% endblock %}


{% block main %}
	<section class="block">

		<div id="links" class="layout horizontal center-center wrap around-justified">
			{% for item in ekoUniversity %}
				<a href="/eko-university/{{ item.link | slug }}" {% if page.url == '/eko-university/' + item.link | slug + '/' %}selected{% endif %}>{{ item.section }}</a>
			{% endfor %}
		</div>

		<div class="block pure-g">
			{% for vid in ekoUni.videos %}
				<div class="pure-u-1-2 pure-u-md-1-2 pure-u-sm-1 l-box">
					<p>{% youtube vid.id %}</p>
					{{ vid.label }}
				</div>
			{% endfor %}
		</div>

	</section>

{% endblock %}
