---
business: retail
---

{% extends "./base.njk" %}

{# Ideally set through eleventyComputed in front-matter but not working. Bug? #}
{% set title = product.title %}
{% set description = product.summary or product.description %}
{% set keywords = product.keywords %}
{% set image = product.social_image or product.image %}


{% block main %}

	{% include "section_product_page_hero.njk" %}

	{% for i in range(0, product.layout | length) %}
		{% set item = product.layout[i] %}

		{# The section mid_summary uses the main product description as it's main-text #}
		{% if item.section === "mid_summary" %}
			{% set item = product.layout[i]|mergeObjectFilter({main_text: product.description}) %}
		{% endif %}

		{% set component = "section_" + item.section + ".njk" %}
		{% include component %}
	{% endfor %}

	{# Signup Form Section #}
	{% set form = { type: "retail", referrername: "retail_" + product.name | slug } %}
	{% include "section_signup_form.njk" %}
	{% include "section_contact_icon.njk" %}

{% endblock %}
