{% set align = "right" %}

{% for item in product.alternating_steps %}
    {% if align == "left" %}
        <div class="pure-g">
            <div class="pure-u-1-2">
                <h3>{{ item.title }}</h3>
                <p>{{ item.text }}</p>
            </div>
            <div class="pure-u-1-2">
                <img src="{{ item.image }}">
            </div>
        </div>
        {% set align = "right" %}
    {% elif align == "right" %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            <img src="{{ item.image }}">
        </div>
        <div class="pure-u-1-2">
            <h3>{{ item.title }}</h3>
            <p>{{ item.text }}</p>
        </div>
    </div>
    {% set align = "left" %}
    {% endif %} 
{% endfor %}