<div class="container">
<div class="band">
    {% for blog in blogslist | reverse %}
    <div class="item">
        <a href="{{ blog.url | url }}" class="card">
        <div class="thumb" style="background-image: url({{ blog.data.featuredImage }})"></div>
        <article>
            <h1>{{ blog.data.title }}</h1>
            <span><time datetime="{{ blog.date | htmlDateString }}">{{ blog.date | readableDate }}</time></span>
            <p>{{ blog.data.description }}</p>
        </article>
        </a>
    </div>
    {% endfor %}
</div>
</div>