<div class="container">
<ul>
  {% for blog in blogslist %}
    <li>
      <strong>
        <a href="{{ blog.url | url }}">{{ blog.data.title }}</a>
      </strong>
      -
      <time datetime="{{ blog.date | htmlDateString }}">{{ blog.date | readableDate }}</time>
      -
      <span>{{ blog.data.description }}</span>
    </li>
  {% endfor %}
</ul>
</div>
