<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-2">
        <img src="/images/star.png">
    </div>
    <div class="col-8">
        <p>{{ product.message.text }}</p>
        <b><h4>{{ product.message.main_line }}</h4></b>
        <br>
        <a href="{{ product.message.button_link }}" class="btn btn-secondary">{{ product.message.button_text }}</a>
    </div>
    <div class="col-lg-1"></div>
</div>
