<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
        <img src="/images/star.png">
    </div>
    <div class="pure-u-1 pure-u-md-3-4">
        <p>{{ product.message.line1 }}</p>
        <br>
        <p>{{ product.message.line2 }}</p>
        <p class="main-line">{{ product.message.main_line }}</p>
        <br>
        <a href="{{ product.message.button_link }}" class="button-white">{{ product.message.button_text }}</a>
    </div>
</div>
