<center>
    <h5>{{ product.mid_summary.small_descrip }}</h5>
    <h1>{{ product.mid_summary.header }}</h1>
    <div class="h2-border"></div>
    <br>
    <p>{{ product.mid_summary.big_summary }}</p>   
</center>