<div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">Eko.in</a>
    <ul class="pure-menu-list">
        {% set mainNav = collections.all | eleventyNavigation('main') %}
        {%- for nav in mainNav -%}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="{{ nav.url }}" class="pure-menu-link">{{ nav.key }}</a>
            <ul class="pure-menu-children">
            {%- for product in products -%}
            <li class="pure-menu-item">
                <a href="/products/{{ product.name | slug }}/" class="pure-menu-link">{{ product.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
        {% endfor %}


        <div class="nav-right">
          <li class="pure-menu-item">
            <a class="orange-link" href="{{ nav.contact_link }}"><img src="/images/paper-plane.svg">  Contact Us</a>
          </li>
          <li class="pure-menu-item">
            <a href="{{ nav.button_link }}" class="nav-button">Sign Up</a>
          </li>
        </div>
    </ul>
</div>

