<nav class="site-nav family-sans navbar navbar-expand-md py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" 
      data-toggle="collapse" data-target="#myTogglerNav"
      aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand">
      <a class="text-dark" href="/">Eko.in</a>
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ml-auto font-weight-regular">
        {# {% set mainNav = collections.all | eleventyNavigation('main') %}
          {%- for nav in mainNav -%}
            <a class="nav-item nav-link" href="{{nav.url}}">{{nav.key}}</a>
          {%- endfor -%} #}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          {%- for product in products -%}
            <a class="dropdown-item text-capitalize" href="/products/{{ product.name | slug }}/">{{ product.name }}</a>
          {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>