<center>
    <div class="one-liner">
        <img src="{{ item.icon }}" alt="{{ item.title }}">
        <h1>{{ item.title }}</h1>
        <span class="h2-border"></span>
        <p>{{ item.text }}</p>
    </div>
</center>
</div>