<div class="row">
    <div class="col-xs-6 col-md-4">
        <img src="{{ product.short_ad.image }}">
    </div>
    <div class="col-xs-6 col-md-8">
        <h1> {{ product.short_ad.title }}</h1>
        <p> {{ product.short_ad.text }}</p>
    </div>
</div>