<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ product.single_hero.image }}">
        </div>
        <div class="col">
            <h3>{{ product.single_hero.title }}</h3>
            <p>{{ product.single_hero.text }}</p>
        </div>
    </div>
</div>