<div class="pure-g flex-grid">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-sm-1 order-1 order-md-1 order-sm-1 l-box">
        <img src="{{ product.single_hero.image }}">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-sm-1 order-2 order-md-2 order-sm-2 l-box">
        <h3>{{ product.single_hero.title }}</h3>
        <p>{{ product.single_hero.text }}</p>
    </div>
</div>