<div class="section">
    <h1>{{ product.step_section[0].header }}</h1>
    {# <span class="h2-border"></span> #}
    <p><br><br><br></p>
    <div class="row justify-content-around">
        {% for i in range(1, product.step_section | length) %}
            <div class="col-{{ 12/(product.step_section | length) }}">
                {% set item=product.step_section[i] %}
                <h2>{{ item.title }}</h2>
                <p>{{ item.text }}</p>
                <a href="{{ item.link }}">{{ item.link }}</a>
            </div>
        {% endfor %}
    </div>
</div>