{% extends "./base.njk" %}

{% if 'social_image' in product and 'tag_line' in product %}
  {% block seo %}
  {# Facebook #}
    <title>{{ product.name }}</title>
    <meta name="description" content="{{ product.tag_line }}">
    <meta name="keywords" content="{{ product.keywords }}">
    <meta property="og:url" content="{{ base.base_url }}products/{{ product.name | slug }}/"/>
    <meta property="og:image" content="{{ product.social_image }}">
    <meta property="og:title" content="{{ product.name }}"/>
    <meta property="og:description" content="{{ product.tag_line }}"/>

    {# Twitter #}
    <meta name="twitter:site" content="{{ base.twitter_handle }}">
    <meta name="twitter:url" content="{{ base.base_url }}products/{{ product.name | slug }}/">
    <meta name="twitter:title" content="{{ product.name }}">
    <meta name="twitter:description" content="{{ product.tag_line }}">
    <meta name="twitter:image" content="{{ product.social_image }}">
  {% endblock %}
{% endif %}

{% block main %}
  <main class="container">
    {% include "top_hero.njk" %}
    {% for key, val in product.layout %}
      {% set component = key + ".njk" %}
      {% set item = product.layout[key] %}
      {% include component %}
      {% sectionSeparator %}
    {% endfor %}
  </main>
{% endblock %}