---
permalink: 404.html
---
{% extends "./_layouts/pageTemplates/base.njk" %}

{% block main %}
<main class="container">
    <h1>{{ title }}</h1>
    <p>This is where you should tell the user how to find their content. Maybe on the <a href="{{ "/" | url }}">home page?</a></p>
</main>
{% endblock %}