---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /blogs/{{ tag }}/
---
{% extends "./_layouts/pageTemplates/base.njk" %}

{% block main %}
    {% set blogslist = collections[ tag ] %}
    <div class="container">
        <header>
            <h1>Blog Posts  - {{ tag | capitalize  }}</h1>
            <span class="h2-border"></span>
        </header>
        {% include "blogslist.njk" %}
    </div>
    {% sectionSeparator %}
{% endblock %}