{% extends "./_layouts/pageTemplates/base.njk" %}
{% block main %}
<main class="container">
<br><br><br><br>

{# Top Hero #}
<center>
<div class="tag">
    <span class="dot-box">
    <span class="dot"><span class="orange-dot"></span>     Covid-19 - <span><a href="https://www.pmcares.gov.in/en/" target="_blank" rel="noopener nofollow">Donate for PM care</a>
    </span></span></span>
    <h1 class="main-header">Best way to collect cash at your doorstep</h1>
    <br>
    <div class="bg-image">
        <a href="https://eko.in/sign-up" class="button">Try for Free</a></a>
    </div>
</div>
</center>

{% sectionSeparator %}

{% iconScroll %}

{% sectionSeparator %}

{# Mid Summary #}
<div class="mid-summary">
    <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3 pure-u-sm-1">
        <h1 class="header">Become a Banking & Financial service provider</h1>
    </div>
    </div>
    <div class="h2-border"></div>
    <br>
    <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3 pure-u-sm-1">
        <p>Eko gives you an opportunity to turn your own shop into a Banking & Financial institution. Customers who do not have bank accounts and still want to transfer money using cash can do so at your shop. You can pay their utility bills, provide them insurance and earn in every service you give. Easy and effective!</p>
    </div>
    </div>
</div>

{% sectionSeparator %}

{# Slider #}
<div class="slider" style="max-width:800px">
<div class="slide">
    <div class="pure-g inside">
        <div class="pure-u-1 pure-u-md-1-2 l-box">
            <img src="/images/main/easy-cash-transfer.svg" alt="">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 l-box">  
            <h3>Money Transfer</h3>
            <p>Transfer money instantly to any bank account in India using cash from customer.</p>
        </div>
    </div>
</div>

<div class="slide">
    <div class="pure-g inside">
        <div class="pure-u-1 pure-u-md-1-2 l-box">
            <img src="/images/main/aadhaa-banking-small.svg" alt="">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 l-box">  
            <h3>Aadhaar Banking</h3>
            <p>Allow your customers to withdraw cash & transfer money at your doorstep with just the fingerprint & Aadhaar number</p>
        </div>
    </div>
</div>

<div class="slide">
    <div class="pure-g inside">
        <div class="pure-u-1 pure-u-md-1-2 l-box">
            <img src="/images/main/bill-payment.svg">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 l-box">  
            <h3>Utility Bill Payment</h3>
            <p>Pay utility bills for 100+ billers in India using Eko’s platform. All under one roof.</p>
        </div>
    </div>
</div>

<div class="slide">
    <div class="pure-g inside">
        <div class="pure-u-1 pure-u-md-1-2 l-box">
            <img src="/images/main/low-cost-insurance.svg" alt="">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 l-box">  
            <h3>Sell Insurance</h3>
            <p>Low cost, simple paperwork & easy claim process makes our insurance policies the best choice for your customers.</p>
        </div>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
    $('.slider').slick({
        dots: true,
        autoplay: true,
        autoplayspeed: 2500,
        arrows: true,
    });
</script>

{% sectionSeparator %}

{# Short Ad #}
<div class="pure-g flex-grid container">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-1-sm order-1-md">
        <br>
        <img src="/images/main/partner-brands.png" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <h1 class="header">Offer services from our partner brands</h1>
        <div class="h2-border"></div>
        <br>
        <p>Use Eko’s digital and physical infrastructure to reach the 800 million cash earning Indians. Low & Middle Income (LMI) consumers are under-served on digital as well as financial products. Eko provides solutions that help you reach this base in a variety of ways.</p>
        <a href="https://eko.in/our-brand-association">Learn More</a>
        <svg width="2em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
    </div>
</div>

{% sectionSeparator %}

{# Icon List #}
<div class="background-section">
<center>
    <h1>Benefits</h1>
    <div class="h2-border"></div>
</center>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 three-box order-1-sm order-1-md">
        <center><img src="/images/main/merchant-onboarding-icon.svg" alt="">
        <h6>Instant retailer onboarding</h6></center>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 three-box order-1-sm order-1-md">
        <center><img src="/images/main/success-rate.svg" alt="">
        <h6>Industry-leading success rates</h6></center>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 three-box order-1-sm order-1-md">
        <center><img src="/images/main/seamless-integration.svg" alt="">
        <h6>Seamless integration with all the service</h6></center>
    </div>
</div>

{% sectionSeparator %}

{# Side-by-Side Heros #}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <center>
            <img src="/images/main/easy-integration.svg" alt="">
            <br><br>
            <h2>Easy Integration</h2>
            <p>Our API is well-documented and easy to understand. Integrating is as easy as it can get. We provide 24x7 manual integration support just in case, leaving no stone unturned to make the integration process seamless.</p>
        </center>
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <center>
            <img src="/images/main/simple-documentation.svg" alt=""> 
            <br><br>
            <h2>Simple Documentation</h2>
            <p>The documentation for our APIs is comprehensive and comprehensible! We constantly update it to explain the minutest detail. Whether you use Python, Java, PHP, or C#, we have you covered!</p>
        </center>
    </div>
</div>

{% sectionSeparator %}

{# One Liner #}
<center>
    <div class="one-liner">
        <img src="/images/eko-trust.svg" alt="">
        <h1>Eko's Trust</h1>
        <span class="h2-border"></span>
        <p> We use the same APIs here at Eko! Every API call is secured with one-time-use tokens generated using asymmetric cryptography. Our open-source libraries make it extremely easy & error-proof</p>
    </div>
</center>
</div>

{% sectionSeparator %}

{# Alternating Steps #}
<center>
    <p>Individual | Retailer | Distributor | Business</p>
    <h1>Made for everyone</h1>
    <div class="h2-border"></div>
    <br><br>
</center>

<div class="pure-g flex-grid container">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <h3>Retailer</h3>
        <br>
        <p>Our retailer partners use Eko's proprietary platform 'Connect' and partner services to offer cash based and assisted commerce services. This provides a great earning potential and the freedom of running their own business with minimal investment.</p>
        <br>
        <span class="dot-box">
        <span class="dot"><span class="orange-dot"></span>     Join over 1,50,000 retailers</span></span></span>
        <br><br><br>
        <a href="https://eko.in/contact-us" class="button">Contact Sales</a>
        <a href="https://eko.in/become-a-retailer">Learn More</a>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-1-sm order-1-md">
        <img src="/images/main/retailer.svg" alt="">
    </div>
</div>

<div class="pure-g flex-grid container">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-1-sm order-1-md">
        <img src="/images/main/developers.svg" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md">
        <h3>Developers</h3>
        <br>
        <p>We offer developer APIs to almost all aspects of our business services with just one objective in mind and that is to provide platform and system to all to build their own innovative business models.</p>
        <br><br><br>
        <a href="https://developers.eko.in/docs" class="button">View Documentation</a>
        <a href="https://eko.in/developers/eps">Learn More</a>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
    </div>
</div>
    
{% sectionSeparator %}

{# One Liner #}
<div class="background-section">
<center>
<div class="pure-g tags-row">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
        <span class="dot-box">
        <span class="dot"><span class="orange-dot"></span>     Individual</span></span></span>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
        <span class="dot-box">
        <span class="dot"><span class="orange-dot"></span>     Retailers</span></span></span>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
        <span class="dot-box">
        <span class="dot"><span class="orange-dot"></span>     Distributors</span></span></span>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
        <span class="dot-box">
        <span class="dot"><span class="orange-dot"></span>     Business</span></span></span>
    </div>
</div>
<br><br>
<h1> No matter what your business is we’ve got you covered </h2>
</center>
</div>
<br><br>

{% sectionSeparator %}

{# Gallery #}
<div class="container">
    <h1>What our partner says</h1>
    <div class="h2-border"></div>
    <div class="gallery" style="max-width:800px">
        <div>
            <div class="pure-g content">
                <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-1-sm order-1-md">
                    <p>"ALTBalaji is fuelling the growth of subscription-based digital video streaming. Partnering with Eko is a way to bring the offline consumers into the online world. With ALTBalaji now being a part of their Eko Store, we are expanding our reach to a whole new audience and are excited to welcome them as a part of the ALTBalaji family"</p>
                </div>
                <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md partner-box">  
                    <center>
                        <img class="round" src="/images/main/alt-balaji-customer.png" alt="">
                        <h4>Nachiket Pantvaidya</h4>
                        <p class="caption">CEO, ALTBalaji and Group COO Balaji Telefilms</p>
                    </center>
                </div>
            </div>
        </div>

        <div>
            <div class="pure-g content">
                <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-1-sm order-1-md">
                    <p>"Indifi is committed to simplifying credit access to small and medium-sized entrepreneurs. Our partnership with Eko will further our vision of facilitating financial inclusion for India’s huge SME sector. By providing Eko’s cash distributors with the credit line services, we will also help empower a greater number of retailers across the country."</p>
                </div>
                <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2 l-box order-2-sm order-2-md partner-box">  
                    <center>
                        <img class="round" src="/images/main/alot-mitttal.png" alt="">
                        <h4>Alok Mittal</h4>
                        <p class="caption">Co-founder and CEO, Indifi Technologies</p>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.gallery').slick({
        dots: true,
        autoplay: true,
        autoplayspeed: 2500,
        arrows: true,
    });
</script>

{% sectionSeparator %}

{# Small Heros Section #}
<center>
    <h1>Our Trusted Partners</h1>
    <div class="h2-border"></div>
</center>
<p><br></p>
<center>
<div class="pure-g container">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="dimmed-image square" width="240" height= "84" src="/images/main/partner1.jpg" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="dimmed-image square" width="387" height= "144" src="/images/main/partner2.jpg" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="dimmed-image square" width="420" height= "111" src="/images/main/partner3.jpg" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="dimmed-image square" width="303" height= "114" src="/images/main/partner4.jpg" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
        <img class="dimmed-image square" width="101" height= "27" src="/images/main/partner5.jpg" alt="">
    </div>
</div>
</center>

{% sectionSeparator %}

{# Form #}
<div class="background-section">
<center>
    <h1>Still got a question?</h1>
    <div class="h2-border"></div>
    <p>Write to us for more information</p>
</center>

{# <form action="">
    <center>
        <input type="text" size="75" id="entry1" name="{{ main.form.entry_boxes[0] }}" value="{{ main.form.entry_boxes[0] }}"><br>
    </center>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <br><input type="text" size="35" id="entry2" name="{{ main.form.entry_boxes[1] }}" value="{{ main.form.entry_boxes[1] }}"><br>
        </div>
        <div class="col">
            <br><input type="text" size="35" id="entry3" name="{{ main.form.entry_boxes[2] }}" value="{{ main.form.entry_boxes[2] }}"><br>
        </div>
        <div class="col"></div>
    </div>
    <center>
        <br><input type="text" size="75" height="400px" id="entry4" name="{{ main.form.entry_boxes[3] }}" value="{{ main.form.entry_boxes[3] }}"><br>
        <br><br><input type="submit" class="button" value="Submit">
    </center>
</form> #}
</div>

{% sectionSeparator %}

{# Big Ad #}
<div class="pure-g flex-grid container">
<div class="pure-u-1 pure-u-md-3-5 order-2-sm">
    <h3>Let’s fight Covid-19 together</h3>
    <h1>Download Aarogya Setu App</h1>
    <div class="h2-border"></div>
    <br>
    <div class="pure-g">
        <div class="pure-u-1-4 pure-u-md-1-4">
        <center>
            <img src="/images/main/android-icon.svg" alt="">
            <p>Android</p>
        </center>
        </div>
        <div class="pure-u-1-4 pure-u-md-1-4">
        <center>
            <img src="/images/main/ios-icon.svg" alt="">
            <p>iOS</p>
        </center>
        </div>
    </div>
</div>
<div class="pure-u-1 pure-u-md-2-5 order-1-sm">
    <img src="/images/main/aarogya-setu-logo.png" alt="">
</div>
</div>
</main>

{% sectionSeparator %}

{% endblock %}