.container {
    position: fixed;
    bottom: 245px;
    right: 10px;
    width: 300px;
    border-radius: 25px;
    box-sizing: border-box;
    transform: rotateZ(0deg);
    opacity: 1;
    pointer-events: auto;
    transition: all 500ms ease;

}



.container:hover {
    width: 500px;
    position: fixed;
}

.container.active {

    transform: rotateZ(-6deg);
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.signup-button {
    position: fixed;
    bottom: 190px;
    right: 10px;
    cursor: pointer;
    display: flex;


}

.signup-button .button .signupImage {
    font-size: 30px;
    color: #003049;
    transition: all 300ms ease;
    height: 50px;


}

.signup-button .button .signupImage:hover {
    transform: scale(1.1);
}

.signup-button .widgetlabel {
    position: relative;
    bottom: 30px;
    padding: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #fefae0;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.signup-button .remove-button .clearImage {
    right: 10px;
    height: 15px;
    bottom: 15px;
    padding-right: 2px;

}

.signup-button .remove-button .clearImage:hover {
    transform: scale(1.1);
}