{# the automatic link for this page is /about-us #}
{# if you want to put this page into a folder, create a folder and create your njk file in that folder #}
{# Go to _includes/navigation.njk and change the href link
for the navigation element associated with this page #}

{# extend the base layout to automatically include navigation bar + footer #}
{% extends "./_layouts/base.njk" %}

{# You can optionally include this SEO block to change the meta tags and social media links for this page #}
{# {% block seo %}
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:image" content="">
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>

	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">
{% endblock %} #}

{# Put all your custom page html in the "main" block here: #}
{% block main %}
<main>
	<section>
		<header><h1>About Us</h1></header>
		<div class="h2-border"></div>

		<p>
		Back in 2006, two brothers, while working for a telecom startup, 6D Technologies sat together at the end of a frustrating day with their bankers and wondered - why do bank work just 6 hours a day for the public when telecom companies work 24x7, without any downtime. They mused on how banking services could be brought to consumers 24x7, via a network of Business Correspondents.
		<br><br>
		Thus began the journey of Eko. Abhinav and Abhishek believed in the power of taking banking services to vast majority in real time, so much that they set in motion an exit from 6D and developed solutions for Eko. What followed was a string of inventions, patented all over the world, partnerships with the largest banks in India, and setting up of a vast chain of merchant outlets to work as Business Correspondents to provide banking services to customers, specially form weaker economic sections of the society.
		<br><br>
		Eko leveraged every progressive technology available to build solutions. From telecom based USSD to web based process and finally app based platform.
		<br><br>
		True to its mission of taking banking and financial services to all, Eko has built over 100 services on its platform to cater to all needs a customer has from a bank, and even offered open APIs to truly democratise them.
		<br><br>
		Result. Eko has served over 50 Million customers till date, is available over a merchant network of 1,50,000 customers and enables over 7 Million banking transactions a month. This it does, via its own network and by providing APIs to over 300 partners who have built their own business on top of the Eko platform.
		<br><br>
		Eko is committed to ever expanding its range of financial services with its mission to take digital economy solutions to the next 500 Million Indians and across developing markets around the world.
		<br><br>
		As a truly inclusive organisation, Eko constantly seeks partnerships to leverage its APIs and its network. And keeping true to the vision of Prime Minister Modi - 'say yes to digital payments, no to cash”, Eko welcomes merchants, developers, brands and service providers to come join hands with us and help us take Digital India to Bharat.
		</p>
	</section>

</main>
{% endblock %}