---
title: Page Title for SEO (goes into the HTML <title> tag and used on social-media when shared)
description: Page Description for SEO (and used on social-media when shared)
keywords: Page keywords (comma-separated) for SEO (and used on social-media when shared)
image: Optional image to be used when shared on social-media
business: api or retail
---

{#
	This is a sample custom page created using Nunjucks.

	The automatic link for this page is the file-name, i.e,  /example-custom-page

	If you want to put this page into a folder, create a folder and create your njk file in that folder.

	Go to _includes/navigation.njk and add/change the link for this page.
#}

{# extend the base layout to automatically include navigation bar + footer #}
{% extends "./_layouts/base.njk" %}


{# Put all your custom page html in the "main" block here: #}
{% block main %}
	<section class="block">
		
	</section>
{% endblock %}