---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:webfeeds="http://webfeeds.org/rss/1.0" version="2.0">
<title>Blog | {{ website.title }}</title>
<subtitle>{{ website.company_description }}</subtitle>
<link href="{{ env.BASE_URL }}/feed.xml" rel="self"/>
<link href="{{ env.BASE_URL }}/"/>
<updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
<webfeeds:cover image="{{ env.BASE_URL }}" />
<webfeeds:icon>{{ env.BASE_URL }}/assets/img/favicon.ico</webfeeds:icon>
<webfeeds:logo>{{ env.BASE_URL }}{{ website.logo }}</webfeeds:logo>
<webfeeds:accentColor>ffb218</webfeeds:accentColor>
<webfeeds:related layout="card" target="browser"/>
<id>{{ env.BASE_URL }}/</id>
<author>
	<name>{{ website.short_name }}</name>
	<email>{{ website.email }}</email>
</author>
{%- for post in collections.blog | reverse -%}
{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(env.BASE_URL) }}{% endset %}
<entry>
	<title>{{ post.data.title }}</title>
	<link href="{{ absolutePostUrl }}"/>
	<updated>{{ post.date | rssDate }}</updated>
	<id>{{ absolutePostUrl }}</id>
	<author>
		<name>{{ website.short_name }}</name>{# TODO: Put actual blog post author info here #}
		<email>{{ website.email }}</email>
	</author>
	<content type="html">&lt;p&gt;&lt;img src="{{ env.BASE_URL }}{{ post.data.image }}"&gt;&lt;/p&gt;{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
</entry>
{%- endfor -%}
</feed>