{% extends "./_layouts/base.njk" %}

{# Include Embla Carousel #}
{% block custom_script %}
  {{ js_carousel | jsmin | safe }}
{% endblock %}

{% block custom_style %}
  {{ css_carousel | cssmin | safe }}
{% endblock %}


{% block main %}

	{# Custom HTML code can be added anywhere in this block #}
	{# Or, add a predefined section component #}


	{# Hero section #}
	{% set item = {
		header: "Best way to send money and do Aadhaar based withdrawal",
		image: "/assets/img/main/homepage-illustration-opt.svg"
	} %}
	{% include "section_index_page_hero.njk" %}


	{# Mid Summary section #}
	{% set item = {
		header: "Become a Banking & Financial service provider",
		main_text: "Eko gives you an opportunity to turn your own shop into a Banking & Financial institution. Customers who do not have bank accounts and still want to transfer money using cash can do so at your shop. You can pay their utility bills, provide them insurance and earn in every service you give. Easy and effective!"
	} %}
	{% include "section_mid_summary.njk" %}


	{# Slider / Carousel section #}
	{% set item = {
	slides: [
		{
			title: "Money Transfer",
			description: "Transfer money instantly to any bank account in India using cash from customer.",
			image: "/assets/img/main/easy-cash-transfer-opt.svg"
		},
		{
			title: "Aadhaar Banking",
			description: "Allow your customers to withdraw cash & transfer money at your doorstep with just the fingerprint & Aadhaar number",
			image: "/assets/img/main/aadhaa-banking-small-opt.svg"
		},
		{
			title: "Utility Bill Payment",
			description: "Pay utility bills for 100+ billers in India using Eko’s platform. All under one roof.",
			image: "/assets/img/main/bill-payment-opt.svg"
		},
		{
			title: "Sell Insurance",
			description: "Low cost, simple paperwork & easy claim process makes our insurance policies the best choice for your customers.",
			image: "/assets/img/main/low-cost-insurance-opt.svg"
		}]
	} %}
	{% include "section_carousel.njk" %}


	{# Single Hero section #}
	{% set item = {
		image: "/assets/img/main/partner-brands.webp",
		title: "Offer services from our partner brands",
		text: "Use Eko’s digital and physical infrastructure to reach the 800 million cash earning Indians. Low & Middle Income (LMI) consumers are under-served on digital as well as financial products. Eko provides solutions that help you reach this base in a variety of ways.",
		link_text: "More About Our Partner Brands",
		link: "/our-brand-association"
	} %}
	{% include "section_single_hero.njk" %}

		{# Icon List section #}
	{% set item = {
		header: "We proudly make in India",
		icons: [
			{
				image: "/assets/img/Mask_Group_17.png"
			},
			{
				image: "/assets/img/Mask_Group_18.png"
			},
			{
				image: "/assets/img/Mask_Group_19.png"
			}]
	} %}
	{% include "section_icon_list_no_bg.njk" %}


	{# Icon List section #}
	{% set item = {
		header: "Benefits",
		icons: [
			{
				image: "/assets/img/main/merchant-onboarding-icon.svg",
				caption: "Instant retailer onboarding"
			},
			{
				image: "/assets/img/main/success-rate.svg",
				caption: "Industry-leading success rates"
			},
			{
				image: "/assets/img/main/seamless-integration.svg",
				caption: "Seamless integration with all the service"
			}]
	} %}
	{% include "section_icon_list.njk" %}



	{# Heros Main section #}
	{% set item = {
		items: [
			{
				type: "pair",
				title_left: "Easy Integration",
				text_left: "Our API is well-documented and easy to understand. Integrating is as easy as it can get. We provide 24x7 manual integration support just in case, leaving no stone unturned to make the integration process seamless.",
				image_left: "/assets/img/developers/easy-integration-opt.svg",
				title_right: "Simple Documentation",
				text_right: "The documentation for our APIs is comprehensive and comprehensible! We constantly update it to explain the minutest detail. Whether you use Python, Java, PHP, or C#, we have you covered!",
				image_right: "/assets/img/developers/simple-documentation-opt.svg"
			}]
	} %}
	{% include "section_heros_main.njk" %}


	{# One Liner section #}
	{% set item = {
		title: "Eko's Trust",
		text: "We use the same APIs here at Eko! Every API call is secured with one-time-use tokens generated using asymmetric cryptography. Our open-source libraries make it extremely easy & error-proof",
		icon: "/assets/img/eko-trust-opt.svg"
	} %}
	{% include "section_one_liner.njk" %}


	{# Alternating Steps Section #}
	{% set item = {
	title: "Made for everyone",
	subtitle: "Individual | Retailer | Distributor | Business",
	steps: [
		{
			title: "Retailer",
			text: "Our retailer partners use Eko's proprietary platform **'Connect'** and partner services to offer cash based and assisted commerce services. This provides a great earning potential and the freedom of running their own business with minimal investment.",
			image: "/assets/img/main/retailer-opt.svg",
			tag: "Join over 1,50,000 retailers",
			button: "Contact Sales",
			button_link: website.contact_url,
			more_info: "Learn more about retail products",
			info_link: "/retailer"
		},
		{
			title: "Developers",
			text: "We offer **developer APIs** to almost all aspects of our business services with just one objective in mind and that is to provide platform and system to all to build their own innovative business models.",
			image: "/assets/img/main/developers-opt.svg",
			button: "View Documentation",
			button_link: "https://developers.eko.in/docs",
			more_info: "Learn more about API products",
			info_link: "/developers/eps"
		}]
	} %}
	{% include "section_alternating_steps.njk" %}


	{# One Liner section #}
	{% set item = {
		title: "No matter what your business is we’ve got you covered",
		tags: [
			{ name: "Individual" },
			{ name: "Retailers" },
			{ name: "Distributors" },
			{ name: "Business" }
		]
	} %}
	{% include "section_one_liner.njk" %}


	{# Gallery / Carousel section #}
	{% set item = {
		style: "gallery",
		header: "What our partners say",
		slides: [
			
			{
				title: "Alok Mittal",
				description:"Indifi is committed to simplifying credit access to small and medium-sized entrepreneurs. Our partnership with Eko will further our vision of facilitating financial inclusion for India’s huge SME sector. By providing Eko’s cash distributors with the credit line services, we will also help empower a greater number of retailers across the country.",
				image: "/assets/img/main/alot-mitttal.webp",
				caption: "Co-founder and CEO, Indifi Technologies"
			}
		]
	} %}
	{% include "section_carousel.njk" %}


	{# Small Heros section #}
	{% set item = {
		header: "Our Trusted Partners",
		partner_images: [
			{ image: "/assets/img/main/partner1.webp", title: "SBI" },
			{ image: "/assets/img/main/partner2.webp", title: "Yes Bank" },
			{ image: "/assets/img/main/partner3.webp", title: "Fino Payments Bank" },
			{ image: "/assets/img/main/partner4.webp", title: "Airtel" },
			{ image: "/assets/img/main/partner5.webp", title: "Axis Bank" }
		]
	} %}
	{% include "section_small_heros.njk" %}


	{# Form section #}
	{% set form = { referrername: "homepage" } %}
	{% include "section_signup_form.njk" %}


	{# Final Ad section #}
	{# {% set item = {
		small_header: "Let’s fight Covid-19 together",
		main_header: "Download Aarogya Setu App",
		icon1: "/assets/img/main/android-icon.svg",
		icon1_text: "Android",
		icon2: "/assets/img/main/ios-icon.svg",
		icon2_text: "iOS",
		image: "/assets/img/main/aarogya-setu-logo.webp",
		caption: "#StayAlertStaySafe"
	} %}
	{% include "section_get_started_banner.njk" %} #}


{% endblock %}
