{% extends "./_layouts/pageTemplates/base.njk" %}

{% block main %}
<main>

<br><br><br><br>

{# Top Hero #}
<center>
<section class="tag">
    <span class="dot-box">
    <span class="dot"><span class="orange-dot"></span> Covid-19 - <span><a href="https://www.pmcares.gov.in/en/" target="_blank" rel="noopener">Donate for PM care</a>
    </span></span></span>
    <h1 class="main-header">Best way to collect cash at your doorstep</h1>
    <br>
    <div class="bg-image">
        <a href="https://eko.in/sign-up" class="button">Try for Free</a></a>
    </div>
</section>
</center>

{% iconScroll %}

{# Mid Summary #}
<section class="mid-summary">
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-3-4 pure-u-sm-1">
			<h1 class="header">Become a Banking & Financial service provider</h1>
		</div>
	</div>
	<div class="h2-border"></div>
	<br>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-3-4 pure-u-sm-1">
			<p>Eko gives you an opportunity to turn your own shop into a Banking & Financial institution. Customers who do not have bank accounts and still want to transfer money using cash can do so at your shop. You can pay their utility bills, provide them insurance and earn in every service you give. Easy and effective!</p>
		</div>
	</div>
</section>


{# Slider #}
<center>
<section class="embla">
    <div class="embla__viewport">
    <div class="embla__container">
        <div class="embla__slide">
        <div class="embla__slide__inner pure-g">
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <img src="/images/main/easy-cash-transfer.svg" alt="">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <h2>Money Transfer</h2>
                <p>Transfer money instantly to any bank account in India using cash from customer.</p>
            </div>
        </div>
        </div>
        <div class="embla__slide">
        <div class="embla__slide__inner pure-g">
             <div class="pure-u-1 pure-u-md-1-2 l-box">
                <img src="/images/main/aadhaa-banking-small.svg" alt="">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <h2>Aadhaar Banking</h2>
                <p>Allow your customers to withdraw cash & transfer money at your doorstep with just the fingerprint & Aadhaar number</p>
            </div>
        </div>
        </div>
        <div class="embla__slide">
        <div class="embla__slide__inner pure-g">
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <img src="/images/main/bill-payment.svg" alt="">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <h2>Utility Bill Payment</h2>
                <p>Pay utility bills for 100+ billers in India using Eko’s platform. All under one roof.</p>
            </div>
        </div>
        </div>
        <div class="embla__slide">
        <div class="embla__slide__inner pure-g">
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <img src="/images/main/low-cost-insurance.svg" alt="">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 l-box">
                <h2>Sell Insurance</h2>
                <p>Low cost, simple paperwork & easy claim process makes our insurance policies the best choice for your customers.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    {# Buttons #}
    <button aria-label="previous" class="embla__button embla__button--prev" type="button">
        <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
            <path d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"></path>
        </svg>
    </button>
    <button aria-label="next" class="embla__button embla__button--next" type="button">
        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
            <path d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"></path>
        </svg>
    </button>
</section>
</center>


{# Short Ad #}
<section class="pure-g short-ad flex-grid">
    <div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm order-1-md">
        <br>
        <img src="/images/main/partner-brands.webp" alt="">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm order-2-md">
        <h1 class="header">Offer services from our partner brands</h1>
        <div class="h2-border"></div>
        <br>
        <p>Use Eko’s digital and physical infrastructure to reach the 800 million cash earning Indians. Low & Middle Income (LMI) consumers are under-served on digital as well as financial products. Eko provides solutions that help you reach this base in a variety of ways.</p>
        <a href="https://eko.in/our-brand-association" title="Brand Association link to learn more">Learn more about partner brands</a>
        <svg width="3em" height="1em" viewBox="0 0 10 12" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
    </div>
</section>


{# Icon List #}
<section class="background-section">
	<center>
		<h1>Benefits</h1>
		<div class="h2-border"></div>
	</center>

	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-3 three-box order-1-sm order-1-md">
			<center><img src="/images/main/merchant-onboarding-icon.svg" alt="">
			<p>Instant retailer onboarding</p></center>
		</div>
		<div class="pure-u-1 pure-u-md-1-3 three-box order-1-sm order-1-md">
			<center><img src="/images/main/success-rate.svg" alt="">
			<p>Industry-leading success rates</p></center>
		</div>
		<div class="pure-u-1 pure-u-md-1-3 three-box order-1-sm order-1-md">
			<center><img src="/images/main/seamless-integration.svg" alt="">
			<p>Seamless integration with all the service</p></center>
		</div>
	</div>

	{# Side-by-Side Heros #}
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-2 l-box">
			<center>
				<img src="/images/main/easy-integration.svg" alt="">
				<br><br>
				<h2>Easy Integration</h2>
				<p>Our API is well-documented and easy to understand. Integrating is as easy as it can get. We provide 24x7 manual integration support just in case, leaving no stone unturned to make the integration process seamless.</p>
			</center>
		</div>
		<div class="pure-u-1 pure-u-md-1-2 l-box">
			<center>
				<img src="/images/main/simple-documentation.svg" alt="">
				<br><br>
				<h2>Simple Documentation</h2>
				<p>The documentation for our APIs is comprehensive and comprehensible! We constantly update it to explain the minutest detail. Whether you use Python, Java, PHP, or C#, we have you covered!</p>
			</center>
		</div>
	</div>

</section>

<section class="background-section">

	{# One Liner #}
	<center>
		<div class="one-liner container">
			<img src="/images/eko-trust.svg" alt="">
			<h1>Eko's Trust</h1>
			<span class="h2-border"></span>
			<p> We use the same APIs here at Eko! Every API call is secured with one-time-use tokens generated using asymmetric cryptography. Our open-source libraries make it extremely easy & error-proof</p>
		</div>
	</center>
</section>



{# Alternating Steps #}
<section>
	<center>
		<p>Individual | Retailer | Distributor | Business</p>
		<h1>Made for everyone</h1>
		<div class="h2-border"></div>
		<br><br>
	</center>

	<div class="pure-g flex-grid">
		<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
			<h2>Retailer</h2>
			<br>
			<p>Our retailer partners use Eko's proprietary platform 'Connect' and partner services to offer cash based and assisted commerce services. This provides a great earning potential and the freedom of running their own business with minimal investment.</p>
			<br>
			<span class="dot-box">
			<span class="dot"><span class="orange-dot"></span>     Join over 1,50,000 retailers</span></span></span>
			<br><br><br>
			<a href="https://eko.in/contact-us" class="button">Contact Sales</a>
			<span class="horizontal-spacer"></span>
			<a href="https://eko.in/become-a-retailer">Learn more about retailers</a>
			<svg width="3em" height="1em" viewBox="0 0 10 12" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
			</svg>
		</div>
		<div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm">
			<img src="/images/main/retailer.svg">
		</div>
	</div>

	<div class="pure-g flex-grid">
		<div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm">
			<img src="/images/main/developers.svg">
		</div>
		<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
			<h2>Developers</h2>
			<br>
			<p>We offer developer APIs to almost all aspects of our business services with just one objective in mind and that is to provide platform and system to all to build their own innovative business models.</p>
			<br><br><br>
			<a href="https://developers.eko.in/docs" class="button">View Documentation</a>
			<span class="horizontal-spacer"></span>
			<a href="https://eko.in/developers/eps">Learn more about developers</a>
			<svg width="3em" height="1em" viewBox="0 0 10 12" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
			</svg>
		</div>
	</div>
</section>



{# One Liner #}
<section class="background-section">
	<center>
		<div class="pure-g tags-row">
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
				<span class="dot-box">
				<span class="dot"><span class="orange-dot"></span>     Individual</span></span></span>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
				<span class="dot-box">
				<span class="dot"><span class="orange-dot"></span>     Retailers</span></span></span>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
				<span class="dot-box">
				<span class="dot"><span class="orange-dot"></span>     Distributors</span></span></span>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 sm-box">
				<span class="dot-box">
				<span class="dot"><span class="orange-dot"></span>     Business</span></span></span>
			</div>
		</div>
		<br><br>
		<h1> No matter what your business is we’ve got you covered </h2>
	</center>
</section>


<br><br>



{# Gallery #}
<section>
    <h1>What our partner says</h1>
    <div class="h2-border"></div>
	<center>
		<div class="embla">
			<div class="embla__viewport gallery">
				<div class="gallery__container">
					<div class="gallery__slide">
					<div class="pure-g gallery__slide__inner">
						<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
							<p>"ALTBalaji is fuelling the growth of subscription-based digital video streaming. Partnering with Eko is a way to bring the offline consumers into the online world. With ALTBalaji now being a part of their Eko Store, we are expanding our reach to a whole new audience and are excited to welcome them as a part of the ALTBalaji family"</p>
						</div>

						<div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm partner-box">
							<center>
								<img class="round" src="/images/main/alt-balaji-customer.webp" alt="">
								<h1>Nachiket Pantvaidya</h1>
								<p class="caption">CEO, ALTBalaji and Group COO Balaji Telefilms</p>
							</center>
						</div>

					</div>
					</div>
					<div class="gallery__slide">
					<div class="pure-g gallery__slide__inner">
						<div class="pure-u-1 pure-u-md-1-2 l-box order-2-sm">
							<p>"Indifi is committed to simplifying credit access to small and medium-sized entrepreneurs. Our partnership with Eko will further our vision of facilitating financial inclusion for India’s huge SME sector. By providing Eko’s cash distributors with the credit line services, we will also help empower a greater number of retailers across the country."</p>
						</div>
						<div class="pure-u-1 pure-u-md-1-2 l-box order-1-sm partner-box">
							<center>
								<img class="round" src="/images/main/alot-mitttal.webp" alt="">
								<h1>Alok Mittal</h1>
								<p class="caption">Co-founder and CEO, Indifi Technologies</p>
							</center>
						</div>
					</div>
					</div>
				</div>
			</div>
			{# Buttons #}
			<button aria-label="previous" aria-hidden="true" class="embla__button embla__button--prev" type="button">
				<svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
					<path d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"></path>
				</svg>
			</button>
			<button aria-label="next" class="embla__button embla__button--next" type="button">
				<svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
					<path d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"></path>
				</svg>
			</button>
		</div>
	</center>
</section>



{# Small Heros Section #}
<section>
	<center>
		<h1>Our Trusted Partners</h1>
		<div class="h2-border"></div>
	</center>
	<div class="flex-grid">
		<div class="img-box">
			<img alt typeof="foaf:Image" class="dimmed-image" src="/images/main/partner1.webp" alt="">
		</div>
		<div class="img-box">
			<img alt typeof="foaf:Image" class="dimmed-image" src="/images/main/partner2.webp" alt="">
		</div>
		<div class="img-box">
			<img alt typeof="foaf:Image" class="dimmed-image" src="/images/main/partner3.webp" alt="">
		</div>
		<div class="img-box">
			<img alt typeof="foaf:Image" class="dimmed-image" src="/images/main/partner4.webp" alt="">
		</div>
		<div class="img-box">
			<img alt typeof="foaf:Image" class="dimmed-image" src="/images/main/partner5.webp" alt="">
		</div>
	</div>
</section>



{# Form #}
<section class="background-section">
    {% include "form.njk" %}
</section>



{# Big Ad #}
<section class="pure-g flex-grid">
	<div class="pure-u-1 pure-u-md-3-5 order-2-sm">
		<h2>Let’s fight Covid-19 together</h2>
		<h1>Download Aarogya Setu App</h1>
		<div class="h2-border"></div>
		<br><br><br>
		<div class="pure-g">
			<div class="pure-u-1-4 pure-u-md-1-4">
				<center>
					<img src="/images/main/android-icon.svg">
					<p>Android</p>
				</center>
				</div>
				<div class="pure-u-1-4 pure-u-md-1-4">
				<center>
					<img src="/images/main/ios-icon.svg">
					<p>iOS</p>
				</center>
			</div>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-2-5 order-1-sm">
		<center><img src="/images/main/aarogya-setu-logo.webp">
			<p>#StayAlertStaySafe</p>
		</center>
	</div>
</section>

</main>


{# Include Embla Carousel #}
<script>
  {{ carousel | jsmin | safe }}
</script>

{% endblock %}