---
title: Lending Page
description: Simple & modular APIs, libraries & SDKs. Go live instantly with our plug & play UI flows. Leverage our large technology & distribution network to grow your business
keywords: API, SDK, library, documentation, developers, enterprise, platform, eps, dmt, aeps, disbursal, collection, verification, banking, financial services
image: /assets/img/developers/developer-landing-page.svg
business: api
---

{% extends "./_layouts/base.njk" %}


{% block main %}

	{# Top Hero Section #}
	{% set product = {
		tag_line: "Become Eko's Partner to Get Business Loan",
		hero_image: "/assets/img/lending-page/connect-banner-image.png",
    name: "Connect App ",
		summary: "Eko provides financing options for their merchants to grow with Connect "
	} %}
	{% include "section_custom_page_hero.njk" %}


  {# Documentation Link Banner #}
	{% set item = {
		title: "Download Connect App Now",
		link: "https://play.google.com/store/apps/details?id=in.eko.connect"
  } %}
	{% include "section_custom_link_banner.njk" %}


  {# Icon List Section #}
	{% set item = {
		header: "We help small businesses to reach their goals",
		icons: [
			{
				image: "/assets/img/lending-page/loan-one-day.png",
				caption: "Loan Strating From One Day"
			},
			{
				image: "/assets/img/lending-page/minimum-documentation.png",
				caption: "Minimum Documentation"
			},
			{
				image: "/assets/img/lending-page/low-interest-rate.png",
				caption: "Low Interest Rate"
			}]
	} %}
	{% include "section_custom_icon_list.njk" %}


	{# Step Section #}
	{% set item = {
		header: "Getting Started",
		steps: [
			{ text: "Sign Up on Connect", link: "https://connect.eko.in" },
			{ text: "Start your transaction on Connect" },
			{ text: "Apply for loan" },
			{ text: "Know your eligibility" }
		]
	} %}
	{% include "section_step_section.njk" %}


  {# Custom Main section #}
	{% set item = {
    header: "How can working loans help you to grow your business?",
		items: [
			{
				type: "pair",
				title_left: "Get Freedom To Do More Transaction",
				text_left: "Double your income in just a 0.05% interest rates loan. Get a business loan and  Double your volume of transactions because doubling transaction helps you to double your commission and doubling commission helps your business to double your income.",
				image_left: "/assets/img/lending-page/transaction.png",
        title_center: "Upgrade your Business",
				text_center: "Use funds to mass purchase stock, upgrade technology or repair machinery and equipment because the latest technology helps businesses to grow easily.",
				image_center: "/assets/img/lending-page/upgrade-business.png",
				title_right: "Reach More Shoppers",
				text_right: "With more funds, you can reach more customers and explore more retail solutions to build your business and start selling more products from your shop to reach more customer.",
				image_right: "/assets/img/lending-page/reach-shoppers.png"
			}]
	} %}
	{% include "section_custom_main.njk" %}


  {# Small Heros section #}
	{% set item = {
		header: "Our Partners",
		partner_images: [
			{ image: "/assets/img/main/partner1.webp", title: "SBI" },
			{ image: "/assets/img/main/partner2.webp", title: "Yes Bank" },
			{ image: "/assets/img/main/partner3.webp", title: "Fino Payments Bank" },
			{ image: "/assets/img/main/partner4.webp", title: "Airtel" },
			{ image: "/assets/img/main/partner5.webp", title: "Axis Bank" }
		]
	} %}
	{% include "section_small_heros.njk" %}



	{# Form section #}
	{% set form = { type: "lending-page", referrername: "connect" } %}
	{% include "section_custom_form.njk" %}




{% endblock %}
