{% extends "./_layouts/base.njk" %}


{% block main %}


<section class="block bg-shaded1" type="thank_you_page">
    <center>
        <div class="pure-g wrap">
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/money-trasnsfer.jpg" alt="money-trasnsfer" loading="lazy">
                <a href="/money-trasnsfer.pdf" download class="button outline">Download Collateral</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/aeps.jpg" alt="money-trasnsfer" loading="lazy">
                <a href="/aeps.pdf" download class="button outline">Download Collateral</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/money-trasnsfer.jpg" alt="money-trasnsfer" loading="lazy">
                <a href="/mobile-recharge.pdf" download class="button outline">Download Collateral</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/bill-payment.jpg" alt="bill-payment" loading="lazy">
                <a href="/bill-payment.pdf" download class="button outline">Download Collateral</a>
            </div>			
        </div>
    <center>
</section>

{% endblock %}
