{% extends "./_layouts/base.njk" %}


{% block main %}

<section class="block product_page_hero layout vertical horizontal-md center" type="custom_page_hero">
	<div class="descbox layout inline vertical flex">
		<h1 style="margin:0em;">दुकान के बाहर बैनर लगाए और सबको अपनी सुविधाओं के बारे में बताये।</h1>
	</div>
	<div class="flex imgbox">
		<img src="/assets/img/media-kit/media-kit-banner.png" alt="Banner - {{ product.name }}">
	</div>
</section>


<section class="block bg-shaded1">
    <center>
        <div class="pure-g wrap">
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/eko-welcome-merchant-kit.jpg" alt="eko-welcome-merchant-kit" loading="lazy">
                <a href="/eko-welcome-merchant-kit.pdf" download class="button outline">Download Welcome Kit</a>
            </div>
             <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/one-stop-shop.jpg" alt="one-stop-shop-english" loading="lazy">
                <a href="/one-stop-shop-english.pdf" download class="button outline">Download Collateral</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/one-stop-shop-hindi.jpg" alt="one-stop-shop-hindi" loading="lazy">
                <a href="/one-stop-shop-hindi.pdf" download class="button outline">Download Collateral</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/money-trasnsfer.jpg" alt="money-trasnsfer" loading="lazy">
                <a href="/money-transfer.pdf" download class="button outline">Download Collateral</a>
            </div>
            		
        </div>
    <center>
</section>
<section class="block bg-shaded1">
    <center>
        <div class="pure-g wrap">
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/aeps.jpg" alt="money-trasnsfer" loading="lazy">
                <a href="/aeps.pdf" download class="button outline">Download Collateral</a>
            </div>	
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/mobile-recharge.jpg" alt="money-trasnsfer" loading="lazy">
                <a href="/mobile-recharge.pdf" download class="button outline">Download Collateral</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
                <img src="/assets/img/media-kit/bill-payment.jpg" alt="bill-payment" loading="lazy">
                <a href="/bill-payment.pdf" download class="button outline">Download Collateral</a>
            </div>			
            <div class="pure-u-1 pure-u-md-1-4" style="padding:0 6px;">
            </div>
        </div>
    <center>
</section>

<section class="block bg-shaded1">
    <div class="step-text lh-high pure-u-1 pure-u-md-1-2 l-box">
		<h3>बैनर के फायदे </h3>
        <ul class="slim_ul">
            <li>अपने एरिया के मिनी बैंक बनें</li>
            <li>प्रतिदिन ग्राहक बढ़ेंगे और प्रतिदिन कमीशन बढ़ेगा।</li>
        </ul>
	</div>
</section>   

{% endblock %}
