---
excludeFromSitemap: true
---

{% extends "./_layouts/base.njk" %}

{% block main %}

<section class="block bg-shaded layout vertical horizontal-md center">

	<div class="flex">
		{% Image "/assets/img/main/signup-illustration.png", 'Signup Illustration' %}
	</div>

	<div class="flex">
		<center>
			<h2>Sign Up</h2>
			<div class="h2-border"></div>

			{% include "form.njk" %}
		</center>
	</div>

</section>

{% endblock %}