---
permalink: /vercel.json
eleventyExcludeFromCollections: true
---
{
  "redirects": [
{%- set devRedirects = developers | selectattr("redirect_301") | list %}
{%- set productRedirects = products | selectattr("redirect_301") | list %}
{%- for item in devRedirects %}
    {% if not loop.first %},{% endif %}{
      "source": "/developers/eps/{{ item.name | slug }}",
      "destination": "{{ item.redirect }}",
      "statusCode": 301
    }
{%- endfor %}
{%- for item in productRedirects %}
    {% if not loop.first or devRedirects | length > 0 %},{% endif %}{
      "source": "/products/{{ item.name | slug }}",
      "destination": "{{ item.redirect }}",
      "statusCode": 301
    }
{%- endfor %}
  ]
}
